<div class="main">
<!--navbar section-->
<app-nav-norm></app-nav-norm>
<!--end of navbar section-->
  <!--documentry cards-->
  <div class="container">
    <h4>Horror Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <img src="../../assets/horror.jpg" class="image" routerLink="/movie">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror1.jpg" class="image" routerLink="/movie">
                    <div class="overlay">new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror10.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div> 
                <div class="col-sm-2">
                    <img src="../../assets/horror16.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div> 
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror7.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror12.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror13.webp" class="image"routerLink="/movie" >
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror14.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror15.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror3.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror4.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror5.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror8.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror2.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/horror1.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
        </div> 
    </div> 
  </div>
  <!-- endcard -->
  <br><br>
  <app-footer></app-footer>
</div>