<div class="main">
  <!--documentry cards-->
  <!-- <div class="container">
    <h4>Horror Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror.jpg" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>A Romantic Horror Story</h3>
                            <p>A Romantic Horror Story Movie on movie.webindia123.com, directed by 
                                S.S.Prem, Starring Sriram,Niranjana,Ayesha.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror1.jpg" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>Creature 3D</h3>
                            <p>Creature 3D is a 2014 Indian 3D monster-horror film directed by Vikram Bhatt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror10.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Naina</h3>
                            <p>Naina is a Hindi horror film released in India in 2005. It stars Urmila Matondkar.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror16.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Shapam</h3>
                            <p>Shapam is a 2010 Bollywood horror film directed by Vikram Bhatt, starring Aditya
                                 Narayan, Rahul Dev...</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror7.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Diabolical</h3>
                            <p>The Diabolical. The Diabolical is a 2015 American science fiction horror film
                                 directed by Alistair Legrand and written by Legrand and Luke Harvis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror12.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Kucch To Hai</h3>
                            <p>Kucch To Hai is a 2003 Indian Hindi romantic
                                 thriller-slasher film directed by Anurag Basu and Anil V. Kumar..</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror13.webp" class="image"routerLink="/movie" >
                        </div>
                        <div class="content">
                            <h3>The Tower</h3>
                            <p>The Tower is a 2012 South Korean disaster thriller film about a fire that breaks
                                 out in a luxury skyscraper in central Seoul...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror14.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Chandramukhi</h3>
                            <p>Chandramukhi's plot revolves around a woman who suffers from dissociative identity
                                 disorder that affects...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror15.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Aatma</h3>
                            <p>Aatma - Feel It Around You is a 2013 Indian Hindi psychological horror film directed
                                 by Suparn Verma...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror3.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Black Water</h3>
                            <p>Black Water is a 2007 horror film written and directed by Andrew Traucki and 
                                David Nerlich... </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror4.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Incidious</h3>
                            <p>It is the first installment in the Insidious franchise, and the third in terms
                                 of the series' in-story chronology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror5.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Sanjeevani</h3>
                            <p>Sanjeevani (2018), adventure thriller released in Telugu language in theatre near you in Pandalam...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror8.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Ezra</h3>
                            <p>Ezra is a Malayalam horror-thriller movie written and directed by Jayakrishnan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror2.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Suryavanshi</h3>
                            <p>Suryavanshi is a 1992 Hindi-language Indian feature film directed by Rakesh Kumar
                                 and produced by Vijay Kumar Galani..</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/horror1.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Chandrakala</h3>
                            <p>Chandrakala is a dubbed version of Tamil movie Aranmanai and it is an Comedy Horror
                                 Movie directed by Sundar C.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div> -->
  <!-- endcard -->
  <div class="container">
        <h4>Horror Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let movie of movies1">
                    <div class="box">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" 
                            routerLink="/movie/{{movie.mediaTitle}}">
                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br><br>
</div>