<div class="jumbotron one">
    <br><br><br><br>
    <h3>Great Entertainment !</h3>
    <p>You can see movies, tv serials, documentaries,<br> web series free of cost.</p>
    <hr class="my-4">
    <a class="btn btn-info btn-md" href="#" role="button" routerLink="/linknorm">Get Started</a>
</div>
<div class="jumbotron two">
    <br><br><br><br>
    <h3>One Memebership Many Benefits!</h3>
    <p>With your membership you can access latest movies, web series, documentaries.</p>
    <hr class="my-4">
    <a class="btn btn-info btn-md" href="#" role="button" routerLink="/package">Get Started</a>
</div>
<div class="jumbotron three">
    <br><br><br><br>
    <h3>Watch Your Favorites!</h3>
    <p>Get all your favorites at one place</p>
    <hr class="my-4">
    <a class="btn btn-info btn-md" href="#" role="button" routerLink="/linknorm">Get Started</a>
</div>