<div class="jumbotron one">
        <h3>Great Entertainment!</h3>
        <p>You can see movies,tv serials,documentaries, web series with free of cost.</p>
        <hr class="my-4">
        <a class="btn btn-info btn-md" href="#" role="button" routerLink="/linknorm">Get Started</a>
    </div>    
    <hr />
<div class="jumbotron two">
        <h3>One Memebership Many Benefits!</h3>
        <p>With your membership you can access latest movies, web series, documentaries.</p>
        <hr class="my-4">
        <a class="btn btn-info btn-md" href="#" role="button" routerLink="/linknorm">Get Started</a>
</div>  
<div class="jumbotron three">
    <h3>Watch Anywhere!</h3>
    <p>You can download videos and watch offline.</p>
    <hr class="my-4">
    <a class="btn btn-info btn-md" href="#" role="button" routerLink="/linknorm">Get Started</a>
</div>  
