<div class="total">
    <!-- navbar -->
    <app-main-nav></app-main-nav>
    <!--end of nevbar section-->
    <!-- WishList Section -->
    <div class="container">
        <h4>Wishlist</h4>
        <div class="container-fluid" *ngIf="nomedia=='false'">
            <div class="row">
                <h3>Movies And Documentries</h3>
                <div class="col-2" *ngFor="let item of standalone1">
                    <img src="{{item.mediaPosterUrl}}" class="image" routerLink="/movie/{{item.mediaTitle}}">
                </div>
            </div>
            <div class="row">
                <h3>Tv Episodes And Web Series</h3>
                <div class="col-2" *ngFor="let item of episodic1">
                    <img src="{{item.episodicPosterUrl}}" class="image" (click)="sendDetails(item)">
                </div>
            </div>
        </div>
        <div class="container-fluid" *ngIf="nomedia=='true'">
            <div class="row" >
                <h3>Your Wishlist is empty!!!</h3>
                <h5>Add items in your wishlist to see here</h5>
            </div>
        </div>
    </div>
    <!-- end of WishList -->
    <app-footer></app-footer>
</div>