
<section fxLayout="row wrap" fxLayoutAlign="center center"  class="section"   >
  <mat-card fxFlex="1000px" fxFlex.xs="50%" style="background-color: black">

<mat-horizontal-stepper labelPosition="bottom" #stepper>

<mat-step [stepControl]="firstForm">
  <form #viewerForm="ngForm" [formGroup]="firstFormGroup" (ngSubmit)="onFirstSubmit(firstFormGroup.value)" class="form-horizontal" >
      <ng-template matStepLabel><span class="headingStyle">Catalog</span></ng-template>

      <mat-card class="example-card">
          <mat-card-content class="content">
            <div class="container2">
              <div class="row">
                  <h3>Genre</h3>
              </div>
              <mat-card class="example-card">
        
                  <mat-card-content class="content">
              
                    <mat-grid-list cols="4">
                      <mat-grid-tile>
                        <div class="card">
                          <mat-button-toggle (change)="onGenreSubmit($event.value)" value="romantic">
                            <div class="img1">
                          <img  mat-card-sm-image src="../../assets/images/romantic.png" alt="romantic">
                         <div class="hover">
                          <p>Romantic</p>
                      </div>
                      </div>
                    </mat-button-toggle>
                    </div>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="card">
                            <mat-button-toggle (change)="onGenreSubmit($event.value)" value="action">
                              <div class="img2">
                          <img  mat-card-sm-image src="../../assets/images/action.jpeg" alt="action">
                          <div class="hover">
                          <p>action</p>
                          </div>
                      </div>
                    </mat-button-toggle>
                    </div>
                      </mat-grid-tile>
                          <mat-grid-tile>
                              <div class="card">
                                  <mat-button-toggle (change)="onGenreSubmit($event.value)" value="mystery">
                                    <div class="img3">
                               <img  mat-card-sm-image src="../../assets/images/mystery.jpeg" alt="mystery">
                                 <div class="hover">
                                <p>Mystery</p>
                                </div>
                        </div>
                      </mat-button-toggle>
                      </div>

                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="card">
                            <mat-button-toggle (change)="onGenreSubmit($event.value)" value="mythology">
                              <div class="img4">
                          <img mat-card-sm-image src="../../assets/images/mythology.jpeg" alt="mythology">
                         <div class="hover">
                          <p>mythology</p>
                      </div>   
                      </div>
                    </mat-button-toggle>
                    </div>            
                     </mat-grid-tile>
                  
                    </mat-grid-list>
                      <!-- 1st row of cards is close -->
                    <mat-grid-list cols="4">
             
                     <mat-grid-tile>
                         <div class="card">
                             <mat-button-toggle (change)="onGenreSubmit($event.value)" value="comedy">
                               <div class="img5">
                           <img mat-card-sm-image src="../../assets/images/comedy.jpeg" alt="comedy">
                            <div class="hover">
                           <p>comedy</p>
                       </div>
                       </div>
                      </mat-button-toggle>
                      </div>
                       </mat-grid-tile>
                       <mat-grid-tile>
                          <div class="card">
                              <mat-button-toggle (change)="onGenreSubmit($event.value)" value="horror">
                                <div class="img6">
                                <img  mat-card-sm-image src="../../assets/images/horror.jpeg" alt="Horror">
                              <div class="hover">
                            <p>Horror</p>
                            </div>
                            </div>
                          </mat-button-toggle>
                          </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="card">
                                <mat-button-toggle (change)="onGenreSubmit($event.value)" value="biopic">
                                  <div class="img7">
                             <img  mat-card-sm-image src="../../assets/images/biopic.jpeg" alt="biopic">
                              <div class="hover">
                              <p>Biopic</p>
                              </div>
                           </div>  
                          </mat-button-toggle>
                          </div>    
                       </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="card">
                          <mat-button-toggle (change)="onGenreSubmit($event.value)" value="science">
                            <div class="img8">
                       <img  mat-card-sm-image src="../../assets/images/science-fiction.jpeg" alt="science-fiction">
                       <div class="hover">
                        <p>science<br>fiction </p>
                        </div>
                            </div>
                      </mat-button-toggle>
                      </div>
                   </mat-grid-tile>
                    </mat-grid-list>
                      <!-- 2nd row of cards is close -->
              </mat-card-content>
            </mat-card>
            </div>
            <br>
                
                        
                  <div class="row">
                          <div class="col-sm-2">
                              <label>Language:</label>
                          </div>
                          <div class="col-sm-10">
                                        <select class="form-control"  matNativeControl name="language" formControlName="language" data-width="fit" [(ngModel)]="language">
                                          <option value="English">English</option>
                                          <option value="Hindi">Hindi</option>
                                          <option value="Tamil">Tamil</option>
                                          <option value="Marathi">Marati</option>
                                          <option value="Telugu">Telugu</option>
                                          <option value="Gujarathi">Gujarathi</option>
                                          <option value="Bengali">Bengali</option>
                                         </select>
                          </div>
                      </div><br>
                      <div class="row">
                        <div class="col-sm-2">
                          <label>Release Date:</label>
                        </div>
                        <div class="col-sm-10">
                        <mat-form-field >
                            <input class="form-control" name="date" formControlName="date" matInput [(ngModel)]="date" [matDatepicker]="picker" placeholder="  ">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                           </div>
                          </div>
                          
                      <br>
        </mat-card-content>
        <button mat-stroked-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
        </mat-card>   
        </form>
</mat-step>

<!-- 2nd stapper form here-->
<mat-step [stepControl]="secondForm">
<form #viewerForm="ngForm" [formGroup]="secondFormGroup" (ngSubmit)="onSecondSubmit(secondFormGroup.value)" class="form-horizontal" >

<ng-template matStepLabel><span class="headingStyle">Cast & Crew</span></ng-template>

<mat-card class="example-card">
<mat-card-content class="content">
<div class="container1">
  <div class="row">
      <div class="col-sm-2">
          <label>Studio Name:</label>
      </div>
      <div class="col-sm-10">
          <textarea rows="1" cols="30" [(ngModel)]="studio" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
  </div>
  <div class="row">
          <div class="col-sm-2">
              <label>Crew:</label>
          </div>
  </div>
  <div class="row">

            <div class="col-sm-6">
              <label>Name:</label>
          </div>

          <div class="col-sm-6">
            <label>Role:</label>
          </div>
      </div>
      <div class="row">

        <div class="col-sm-6">
          <textarea rows="1" cols="20" [(ngModel)]="crewName" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <div class="col-sm-6">
        <select class="selectpicker" [(ngModel)]="crewRole" data-width="fit" [ngModelOptions]="{standalone: true}">
          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>producer</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Director</option>
        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Music</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Fights</option>
       </select>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
        <label>Cast:</label>
    </div>
</div>
<div class="row">

      <div class="col-sm-6">
        <label>Screen Name:</label>
    </div>

    <div class="col-sm-6">
      <label>Real Name:</label>
    </div>
</div>
<div class="row">

  <div class="col-sm-6">
    <textarea rows="1" cols="20" [(ngModel)]="screenName" [ngModelOptions]="{standalone: true}"></textarea>
</div>

<div class="col-sm-6">
 <textarea rows="1" cols="20" [(ngModel)]="realName" [ngModelOptions]="{standalone: true}"></textarea>

</div>
</div>
</div>
</mat-card-content>
<button mat-stroked-button matStepperPrevious >Back</button>
<button mat-stroked-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
</mat-card> 
</form>
</mat-step>

<!-- 3rd form is start here -->
<mat-step [stepControl]="thirdForm">
  <form  class="form-horizontal" [formGroup]="thirdFormGroup" (ngSubmit)="onThirdSubmit(thirdFormGroup.value)">
      <ng-template matStepLabel><span class="headingStyle">Media Assets</span></ng-template>
      <mat-card class="example-card">
        
          <mat-card-content class="content">
      
            <div class="container1">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Poster Image:</label>
                    </div>
                    <div class="col-sm-10">
                      <textarea rows="1" cols="30" [(ngModel)]="poster" [ngModelOptions]="{standalone: true}"></textarea> 
                     </div>
                </div>
              <div class="row">
                  <div class="col-sm-2">
                      <label>Video File:</label>
                  </div>
                  <div class="col-sm-2">
                    <input type="file" class="form-control" >
                    <button mat-stroked-button>Upload</button>
                  </div>
              </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <label>Trailer(optional):</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="file" class="form-control" >
                        <button mat-stroked-button>Upload</button>
                      </div>
                  <!-- </div> -->

                  </div>
                  <div class="row">
                      <div class="col-sm-2">
                          <label>How will users watch this video:</label>
                      </div>
                      <div class="col-sm-10">
                          <select class="selectpicker" [(ngModel)]="type" data-width="fit" [ngModelOptions]="{standalone: true}">
                            <option value='free'>Free</option>
                          <option  value="premium">Premium</option>
                         </select>
                        </div>
                  </div>
                    </div>
                  </mat-card-content>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-stroked-button matStepperNext [disabled]="!thirdFormGroup.valid">Next</button>
    
      </mat-card>
  </form>
</mat-step>
<!-- form 3rd is closed-->
<mat-step [stepControl]="fourthForm">
<form #viewerForm="ngForm" (ngSubmit)="onFourthSubmit()" class="form-horizontal" >

    <ng-template matStepLabel><span class="headingStyle">Status</span></ng-template>

    <mat-card class="example-card">
  
        <mat-card-content class="content">
            <div >
              <h3>Thank you!</h3>
              <br>
              <p>Successfully uploaded</p>
              </div>
             </mat-card-content>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button type="submit" (click)="saveMedia()" mat-stroked-button matStepperNext>Publish</button>
      </mat-card>   
    
</form>
</mat-step>
<!-- form 4th is closed-->

</mat-horizontal-stepper>       

</mat-card>
</section>





