
<section fxLayout="row wrap" fxLayoutAlign="center center"  class="section"   >
  <mat-card fxFlex="1000px" fxFlex.xs="50%" style="background-color: black">

<mat-horizontal-stepper labelPosition="bottom" #stepper>

<mat-step [stepControl]="firstFormGroup">
  <form #viewerForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal" >
      <ng-template matStepLabel><span class="headingStyle">Catalog</span></ng-template>

      <mat-card class="example-card">
          <mat-card-content class="content">
            <div class="container2">
              <div class="row">
                  <h3>Genre</h3>
              </div>
              <mat-card class="example-card">
        
                  <mat-card-content class="content">
              
                    <mat-grid-list cols="4">
                      <mat-grid-tile>
                        <div class="card">
                          <mat-button-toggle>
                            <div class="img1">
                          <img  mat-card-sm-image src="../../assets/images/romantic.png" alt="romantic">
                         <div class="hover">
                          <p>Romantic</p>
                      </div>
                      </div>
                    </mat-button-toggle>
                    </div>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <div class="card">
                            <mat-button-toggle>
                              <div class="img2">
                          <img  mat-card-sm-image src="../../assets/images/action.jpeg" alt="action">
                          <div class="hover">
                          <p>action</p>
                          </div>
                      </div>
                    </mat-button-toggle>
                    </div>
                      </mat-grid-tile>
                          <mat-grid-tile>
                              <div class="card">
                                  <mat-button-toggle>
                                    <div class="img3">
                               <img  mat-card-sm-image src="../../assets/images/mystery.jpeg" alt="mystery">
                                 <div class="hover">
                                <p>Mystery</p>
                                </div>
                        </div>
                      </mat-button-toggle>
                      </div>

                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="card">
                            <mat-button-toggle>
                              <div class="img4">
                          <img mat-card-sm-image src="../../assets/images/mythology.jpeg" alt="mythology">
                         <div class="hover">
                          <p>mythology</p>
                      </div>   
                      </div>
                    </mat-button-toggle>
                    </div>            
                     </mat-grid-tile>
                  
                    </mat-grid-list>
                      <!-- 1st row of cards is close -->
                    <mat-grid-list cols="4">
             
                     <mat-grid-tile>
                         <div class="card">
                             <mat-button-toggle>
                               <div class="img5">
                           <img mat-card-sm-image src="../../assets/images/comedy.jpeg" alt="comedy">
                            <div class="hover">
                           <p>comedy</p>
                       </div>
                       </div>
                      </mat-button-toggle>
                      </div>
                       </mat-grid-tile>
                       <mat-grid-tile>
                          <div class="card">
                              <mat-button-toggle>
                                <div class="img6">
                                <img  mat-card-sm-image src="../../assets/images/horror.jpeg" alt="Horror">
                              <div class="hover">
                            <p>Horror</p>
                            </div>
                            </div>
                          </mat-button-toggle>
                          </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="card">
                                <mat-button-toggle>
                                  <div class="img7">
                             <img  mat-card-sm-image src="../../assets/images/biopic.jpeg" alt="biopic">
                              <div class="hover">
                              <p>Biopic</p>
                              </div>
                           </div>  
                          </mat-button-toggle>
                          </div>    
                       </mat-grid-tile>
                    <mat-grid-tile>
                      <div class="card">
                          <mat-button-toggle>
                            <div class="img8">
                       <img  mat-card-sm-image src="../../assets/images/science-fiction.jpeg" alt="science-fiction">
                       <div class="hover">
                        <p>science<br>fiction </p>
                        </div>
                            </div>
                      </mat-button-toggle>
                      </div>
                   </mat-grid-tile>
                    </mat-grid-list>
                      <!-- 2nd row of cards is close -->
              </mat-card-content>
            </mat-card>
            </div>
            <br>
                
                        
                  <div class="row">
                          <div class="col-sm-2">
                              <label>Language:</label>
                          </div>
                          <div class="col-sm-10">
                                        <select class="selectpicker" data-width="fit" [(ngModel)]="language" [ngModelOptions]="{standalone: true}">
                                            <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Telugu</option>
                                          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Tamil</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Marati</option>
                                          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Hindi</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Gujarathi</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Bengali</option>
                                         </select>
                          </div>
                      </div><br>
                      <div class="row">
                        <div class="col-sm-2">
                          <label>Release Date:</label>
                        </div>
                        <div class="col-sm-10">
                        <mat-form-field >
                            <input matInput [matDatepicker]="picker" placeholder="  ">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                           </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-2">
                                <label>Poster Image:</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="btn btn-info"><i class="fa fa-upload"></i>Upload</div>
                            </div>
                        </div>
                      <br>
        </mat-card-content>
        <button mat-stroked-button matStepperNext>Next</button>
        </mat-card>   
        </form>
</mat-step>

<!-- 2nd stapper form here-->
<mat-step [stepControl]="secondFormGroup">
<form #viewerForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal" >

<ng-template matStepLabel><span class="headingStyle">Cast & Crew</span></ng-template>

<mat-card class="example-card">
<mat-card-content class="content">
<div class="container1">
  <div class="row">
      <div class="col-sm-2">
          <label>Studio Name:</label>
      </div>
      <div class="col-sm-10">
          <textarea rows="1" cols="30"></textarea>
      </div>
  </div>
  <div class="row">
          <div class="col-sm-2">
              <label>Crew:</label>
          </div>
  </div>
  <div class="row">

            <div class="col-sm-6">
              <label>Name:</label>
          </div>

          <div class="col-sm-6">
            <label>Role:</label>
          </div>
      </div>
      <div class="row">

        <div class="col-sm-6">
          <textarea rows="1" cols="20"></textarea>
      </div>

      <div class="col-sm-6">
        <select class="selectpicker" data-width="fit">
          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>producer</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Director</option>
        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Music</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Fights</option>
       </select>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
        <label>Cast:</label>
    </div>
</div>
<div class="row">

      <div class="col-sm-6">
        <label>Name:</label>
    </div>

    <div class="col-sm-6">
      <label>Role:</label>
    </div>
</div>
<div class="row">

  <div class="col-sm-6">
    <textarea rows="1" cols="20"></textarea>
</div>

<div class="col-sm-6">
  <select class="selectpicker" data-width="fit">
    <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Hero</option>
  <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Heroine</option>
  <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Vilan</option>
  <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Comedian</option>
 </select>
</div>
</div>
</div>
</mat-card-content>
<button mat-stroked-button matStepperPrevious>Back</button>
<button mat-stroked-button matStepperNext>Next</button>
</mat-card> 
</form>
</mat-step>

<!-- 3rd form is start here -->
<mat-step [stepControl]="thirdFormGroup">
  <form  class="form-horizontal" [formGroup]="thirdFormGroup">
      <ng-template matStepLabel><span class="headingStyle">Video Assets</span></ng-template>
      <mat-card class="example-card">
        
          <mat-card-content class="content">
      
            <div class="container1">
              <div class="row">
                  <div class="col-sm-2">
                      <label>Video:</label>
                  </div>
                  <div class="col-sm-2">
                    <input type="file" class="form-control">
                  </div>
              </div>
              <div class="row">
                      <div class="col-sm-2">
                          <label>Captions:</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="file" class="form-control">Upload
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <label>Language:</label>
                    </div>
                    <div class="col-sm-10">
                      <select class="selectpicker" data-width="fit">
                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Hindi</option>
                      <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>English</option>
                      <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Tamil</option>
                      <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Telugu</option>
                     </select>
                    </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <label>Trailer(optional):</label>
                      </div>
                      <div class="col-sm-2">
                        <input type="file" class="form-control">Upload
                      </div>
                  </div>

                  </div>
                    </div>
                  </mat-card-content>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-stroked-button matStepperNext>Next</button>
    
      </mat-card>
  </form>
</mat-step>
<!-- form 3rd is closed-->
<mat-step [stepControl]="fourthFormGroup">
<form #viewerForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal" >

    <ng-template matStepLabel><span class="headingStyle">Availability</span></ng-template>

    <mat-card class="example-card">
  
        <mat-card-content class="content">
            <div class="container1">
                <div class="row">
                    <div class="col-sm-2">
                        <label>How will users watch this video:</label>
                    </div>
                    <div class="col-sm-10">
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Free video</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="">Premium video</label>
                      </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-2">
                            <label>Pricing Model:</label>
                        </div>
                        <div class="col-sm-10">
                          <div class="radio">
                            <label><input type="radio" name="optradio" checked>3months</label>
                            <label><input type="radio" name="optradio1" >6months</label>
                          </div>
                        </div>
                    </div>
                                </div>
             </mat-card-content>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-stroked-button matStepperNext>Publish</button>
      </mat-card>   
    
</form>
</mat-step>
<!-- form 4th is closed-->
<!-- <mat-step [stepControl]="fifthFormGroup">
<form #viewerForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal" >

    <ng-template matStepLabel><span class="headingStyle">See Status</span></ng-template>

    <mat-card class="example-card">
  
        <mat-card-content class="content">

         
          
          </mat-card-content>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button type="submit" routerLink="/package" mat-stroked-button matStepperNext>Submit</button>
      </mat-card>   
    
</form>
</mat-step> -->
</mat-horizontal-stepper>       

</mat-card>
</section>





