
<section fxLayout="row wrap" fxLayoutAlign="center center"  class="section"  style="background-color: black" >
  <mat-card fxFlex="1000px" fxFlex.xs="50%" >

<mat-horizontal-stepper labelPosition="bottom" #stepper >


<mat-step [stepControl]="firstForm">
  <form #viewerForm="ngForm" [formGroup]="firstFormGroup"  class="form-horizontal" (ngSubmit)="onFirstSubmit(firstFormGroup.value)" >
      <ng-template matStepLabel><span class="headingStyle">Catalog</span></ng-template>

      <mat-card class="example-card"  style="margin-top:-70px" >
          <mat-card-content class="content" >
            <div class="container2">
              <div class="row">
                  <h3>Genre</h3>
              </div>
              <mat-card class="example-card">
        
                  <mat-card-content class="content">
              
                    <mat-grid-list cols="3" style="margin-top:-20px">
                      <mat-grid-tile >
                          <mat-button-toggle class="imageCard"  (change)="onSubmInterest($event.value)" value="romantic">
                            <img  mat-card-md-image src="/assets/images/romantic.jpg" alt="romantic">
                           
                        </mat-button-toggle>
                      </mat-grid-tile>
                      <mat-grid-tile>   
                        <mat-button-toggle class="imageCard" (change)="onSubmInterest($event.value)" value="kid">
                         <img mat-card-md-image src="/assets/images/kid.jpg" alt="kid">
                          <!-- <p>Kid</p> -->
                        </mat-button-toggle>
                     </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-button-toggle class="imageCard" (change)="onSubmInterest($event.value)" value="action">
                          <img  mat-card-md-image src="/assets/images/action1.jpeg" alt="action">
                            
                        </mat-button-toggle>
                    </mat-grid-tile>
                 </mat-grid-list>
                 <mat-grid-list cols="3">
                   <mat-grid-tile>
                    <mat-button-toggle class="imageCard" (change)="onSubmInterest($event.value)" value="mystery">
                      <img  mat-card-md-image src="/assets/images/mystery.jpg" alt="mystery">
                    </mat-button-toggle>
                 </mat-grid-tile>
                <mat-grid-tile>
                      <mat-button-toggle class="imageCard" (change)="onSubmInterest($event.value)" value="mythology">
                    <img mat-card-md-image src="/assets/images/mythology.jpg" alt="mythology">
                      </mat-button-toggle>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-button-toggle class="imageCard" (change)="onSubmInterest($event.value)" value="comedy">
                          <img mat-card-md-image src="/assets/images/comedy.jpg" alt="comedy">
                        </mat-button-toggle>
                </mat-grid-tile>
             </mat-grid-list>
      <mat-grid-list cols="3">
          <mat-grid-tile>
                  <mat-button-toggle (change)="onSubmInterest($event.value)"  value="horror">
                    <img  mat-card-md-image src="/assets/images/horror.jpg" alt="Horror">
                  </mat-button-toggle>
            </mat-grid-tile>
            <mat-grid-tile>
                    <mat-button-toggle (change)="onSubmInterest($event.value)" value="biopic">
                     <img  mat-card-md-image src="/assets/images/biopic.jpg" alt="biopic">
                    </mat-button-toggle>
           </mat-grid-tile>
           <mat-grid-tile>
              <mat-button-toggle (change)="onSubmInterest($event.value)"  value="science">
               <img  mat-card-md-image src="/assets/images/science.jpg" alt="science">
              </mat-button-toggle>
         </mat-grid-tile>
       </mat-grid-list> 
      
        <!-- 3rd row of cards is close -->
      <!-- </mat-button-toggle-group> -->   
            </mat-card-content>
            </mat-card>
            </div>
            <br>
                
                        
                  <div class="row">
                          <div class="col-sm-2">
                              <label style="margin-left:-20px">Language:</label>
                          </div>
                          <div class="col-sm-10">
                                       
                                          <select  class="selectpicker form-control" formControlName="language" placeholder="select" data-width="fit">
                                            <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Telugu</option>
                                          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Tamil</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Marati</option>
                                          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Hindi</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Gujarathi</option>
                                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Bengali</option>
                                         </select>
                          </div>
                      </div><br>
                      <div class="row">
                        <div class="col-sm-2">
                          <label>Release Date:</label>
                        </div>
                        <div class="col-sm-10">
                        <mat-form-field >
                            <input class="form-control" matInput formControlName="date" [matDatepicker]="picker" placeholder="  ">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                           </mat-form-field>
                           </div>
                          </div>
                          
                      <br>
        </mat-card-content>
        <button mat-stroked-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
        </mat-card>   
        </form>
</mat-step>

<!-- 2nd stapper form here-->
<mat-step [stepControl]="secondForm">
<form #viewerForm="ngForm" [formGroup]="secondFormGroup" (ngSubmit)="onSecondSubmit(secondFormGroup.value)" class="form-horizontal" >

<ng-template matStepLabel><span class="headingStyle">Cast & Crew</span></ng-template>

<mat-card class="example-card">
<mat-card-content class="content">
<div class="container1">
  <div class="row">
      <div class="col-sm-2">
          <label>Studio Name:</label>
      </div>
      <div class="col-sm-10">
          <textarea rows="1" cols="30" formControlName="studio"></textarea>
      </div>
  </div>
  <div class="row">
          <div class="col-sm-2">
              <label>Crew:</label>
          </div>
  </div>
  <div class="row">

            <div class="col-sm-6">
              <label>Name:</label>
          </div>

          <div class="col-sm-6">
            <label>Role:</label>
          </div>
      </div>
      <div class="row">

        <div class="col-sm-6">
          <textarea rows="1" cols="20" formControlName="crewName"></textarea>
      </div>

      <div class="col-sm-6">
        <select class="selectpicker" formControlName="crewRole" data-width="fit">
          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>producer</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Director</option>
        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Music</option>
        <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Fights</option>
       </select>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
        <label>Cast:</label>
    </div>
</div>
<div class="row">

      <div class="col-sm-6">
        <label>Screen Name:</label>
    </div>

    <div class="col-sm-6">
      <label>Real Name:</label>
    </div>
</div>
<div class="row">

  <div class="col-sm-6">
    <textarea rows="1" cols="20" formControlName="screenName"></textarea>
</div>

<div class="col-sm-6">
 <textarea rows="1" cols="20" formControlName="realName"></textarea>

</div>
</div>
</div>
</mat-card-content>
<button mat-stroked-button matStepperPrevious >Back</button>
<button mat-stroked-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
</mat-card> 
</form>
</mat-step>

<!-- 3rd form is start here -->
<mat-step [stepControl]="thirdForm">
  <form  class="form-horizontal" [formGroup]="thirdFormGroup" (ngSubmit)="onThirdSubmit(thirdFormGroup.value)">
      <ng-template matStepLabel><span class="headingStyle">Media Assets</span></ng-template>
      <mat-card class="example-card">
        
          <mat-card-content class="content">
      
            <div class="container1">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Poster Image:</label>
                    </div>
                    <div class="col-sm-10">
                      <textarea rows="1" cols="30" formControlName="poster"></textarea> 
                     </div>
                </div>
              <div class="row">
                  <div class="col-sm-2">
                      <label>Video File:</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" formControlName="video" (change)="selectVideo($event)">
                    <button mat-raised-button (click)="uploadVideo()" [disabled]="!selectedVideo">Upload</button>
                  </div>
              </div>
                    <div class="row">
                      <div class="col-sm-2">
                          <label>Trailer(optional):</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="file" class="form-control" formControlName="trailer" (change)="selectTrailer($event)">
                        <button mat-raised-button (click)="uploadTrailer()" [disabled]="!selectedTrailer">Upload</button>
                      </div>
                  <!-- </div> -->

                  </div>
                  <div class="row">
                      <div class="col-sm-2">
                          <label>How will users watch this video:</label>
                      </div>
                      <div class="col-sm-10">
                          <select class="selectpicker" formControlName="type" data-width="fit">
                            <option value='free'>Free</option>
                          <option  value="premium">Premium</option>
                         </select>
                        </div>
                  </div>
                    </div>
                  </mat-card-content>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-stroked-button matStepperNext [disabled]="!thirdFormGroup.valid">Next</button>
    
      </mat-card>
  </form>
</mat-step>
<!-- form 3rd is closed-->
<mat-step [stepControl]="fourthForm">
<form #viewerForm="ngForm" class="form-horizontal" >

    <ng-template matStepLabel><span class="headingStyle">Status</span></ng-template>

    <mat-card class="example-card">
  
        <mat-card-content class="content">
            <div >
              <h3>Thank you!</h3>
              <br>
              <p>Successfully uploaded</p>
              </div>
             </mat-card-content>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button type="submit" (click)="saveMedia()" mat-stroked-button matStepperNext>Publish</button>
      </mat-card>   
    
</form>
</mat-step>
<!-- form 4th is closed-->

</mat-horizontal-stepper>       

</mat-card>
</section>




