.example-card {
    max-width: 100%;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: -10px;

      }
label{
  font-size: 15px;
  font-weight:bold;
}
.container1{
   height: 368px;
   margin-left: 50px;
}
.container2{
  height: 408px;
}
h3{
  margin-top: 180px;
  color: green;
}
.container4{
  height: 298px;
}
h6{
  margin-top: 10px;
  font-weight: bold;
  margin-left: 18px;
  margin-bottom: 15px;
}
p{
  color: green;
}
mat-card-content mat-grid-list{
  margin-bottom: -90px;
}
#posterImage{
  margin-top: 110px;
}
  .card{
    height: 150px;
    width: 150px;
  }
  #firstgrid{
    margin-top: -50px;
  }
#gridimages{
    margin-bottom: -50px;
  }
  img:hover{
    opacity: 0.5; 
   }
   .col-sm-4{
     margin-left: -45px;
     margin-bottom: 5px;
   }
  
   .mat-button-toggle-checked {
     border: 3px solid black;
     background-color: rgb(177, 208, 238); 
   }
   .container{
     margin-left: 15px;
   }
   mat-horizontal-stepper form{
    margin-left: 15%; 
    margin-right: 14%;   
  }
   #videoFile{
     margin-left: -55px;
   }
   #trailer{
     margin-left: -30px;
   }
   #chooseFile{
     margin-left: -1px;
   }
   #userWatch{
     margin-left: -43px;
   }
   #select1{
     margin-left: -120px;
   }
   mat-card{
    margin-top:2%;
    width:95%; 
    height: 90%;
    margin-left: 3%;
    }
   mat-grid-list{
     margin-top:-60px;
     margin-bottom: -20px;
   }
   #language{
    margin-left:-53px;
   }
   #releaseDate{
     margin-left: 20px;
   }
   #select2{
     margin-left: -20px;
   }
   /* #input3{
     margin-left: -50px;
   } */
   #crew{
     margin-left: 2px;
   }
   li{
     list-style-type: none;
     margin-left: -150px;
   }
   #delete{
     margin-left: 30px;
   }
   #name{
     margin-left: -6px;
   }
   #role{
     margin-left: -3px;
   }
   #input{
     margin-top: -50px;
     margin-left: -10px;
   }
 
   #submit{
     margin-top: 10px;
     margin-left: 185px;
   }
   #cast{
     margin-left: 2px;
   }
   #studioName{
     margin-top: 70px;
   }
   #screenName{
     margin-left: -10px;
   }
   #realName{
     margin-left: -6px;
   }
   ul{
    color: blue;
  }
  ul li table{
    margin-left: 290px;
  }
  ul li table tr td{
    border: 1px solid gainsboro;
  }
  
   #submit1{
     margin-top:10px;
     margin-left: 185px;
   }
   #input4{
     margin-left: -65px;
   }
   #upload{
     margin-left: 250px;
     margin-top:-32px;
   }
   #chooseFile1{
     margin-left:-25px;
   }
   #upload1{
     margin-left: 250px;
     margin-top: -32px;
   }
   img{
     margin-top: 10px;
     margin-bottom: 10px;
     height:80px;
     width: 170px;
   } 
  .mat-form-field-infix {
    top: -0.25em;
  }
  .form-horizontal{
      text-align: center;
      margin-left: 22%;
      margin-right: 22%;
  }
  section{
    margin-left: 120px;
    margin-right: 120px;
    overflow: hidden;
  }
 mat-horizontal-stepper{
   margin-left: 60px;
   margin-right: 60px;
 }
 .col-sm-8{
   float: left;
   margin-left: -90px;
 }
  #date{
    margin-top: 5px;
    margin-left: -130px;
  }
  #date1{
    margin-top: -10px;
  }
  .form-group{
      text-align: center;
  }
  .image-card{
     width: 40%;
     height: 50%;
     
  }
  .mat-card-sm-image{
  margin-right: 10px;
  }
  .column {
    float: left;
    width: 45%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .user-profile{
    width: 50%;
    margin-left: 24px;
    margin-top: 10px;
  }
    .person-icon{
        width: 200px;
        height: 200px;
    }
  form{
  padding-top: 50px;
  border-block-start-color: black;
  border-block-end-color: black;
  border-block-start-width: 10px;
  }
  mat-grid-list mat-grid-tile{
    height:100px;
    width:100px
  }
  
    /* img {
      vertical-align: middle;
      border-style: none;
      height: 80px;
      width: 80px;
      border-radius: 10px;
  }
  
   .img1 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .img2 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .img3 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .img4 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .img5 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .img6 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .img7 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .img8 :hover {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
   .img1 .hover {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    margin-left: 10px;
    height: 35%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   }
   /* New overlay appearance on hover */
   /* .img1:hover .hover {
    opacity: 1;
   }
   .img2 .hover {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    margin-left: 30px;
    height: 35%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   }
   /* New overlay appearance on hover */
   /* .img2:hover .hover {
    opacity: 1;
   }
   
   .img3 .hover {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    margin-left: 20px;
    height: 35%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   } */
   /* New overlay appearance on hover */
   /* .img3:hover .hover {
    opacity: 1;
   }
   .img4 .hover {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    margin-left: 3px;
    height: 35%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   } */
   /* New overlay appearance on hover */
   /* .img4:hover .hover {
    opacity: 1;
   }
   .img5 .hover {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
    margin-left: 20px;
    height: 35%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   } */
   /* New overlay appearance on hover */
   /* .img5:hover .hover {
    opacity: 1;
   }
   .img6 .hover {
    position: absolute;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    margin-left: 30px;
    height: 35%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   } */
   /* New overlay appearance on hover */
   /* .img6:hover .hover {
    opacity: 1;
   }
   .img7 .hover {
    position: absolute;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    margin-left: 30px;
    height: 35%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   } */
   /* New overlay appearance on hover */
   /* .img7:hover .hover {
    opacity: 1;
   }
   .img8 .hover {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    margin-left: 20px;
    height: 60%;
    color: azure;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
   } */ 
   /* New overlay appearance on hover */
   /* .img8:hover .hover {
    opacity: 1;
   } */ 
