<!--navbar section-->
<app-nav-norm></app-nav-norm>
<!--end of nevbar section-->
<div class="container">
    <div class=about>
        <h3>Frequently Asked Questions</h3>
        <br>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>What is Premium Membership?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This membership grants you access to all our premium titles which are currently available on the platform as well as the titles which we will add in future.</p> 
                <p>In addition to premium titles, you also get access to all Live Sports, including Cricket, Premier League, F1, Tennis and many more.</p>
                <p>This is our all-inclusive pack.</p>
                <p>We offer 2 plans for Premium membership. A deeply discounted yearly plan for Rs. 999 or a monthly recurring plan for Rs. 299.</p>
                <p>All our subscription plans are non-refundable. Our free content continues to be available for free for all users.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>How do I become a premium member?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Subscribe in 3 easy steps on Manoranjan and enjoy the service.</p>
                <p>1. Go To Manoranjan.Com From Any Browser To Pick Between Premium Plans</p>
                <p>2. Register With Your Email ID And Password.</p>
                <p>3. Enter Your Payment Details.</p>
                <p><strong>You're done!</strong></p>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Is this service available outside India?</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This membership is only available in India. </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<!-- footer section -->
<app-footer></app-footer>