.container{
    margin-top: 120px;
    margin-bottom: 330px;
    font-family: 'Merriweather', serif;
    color: white;
}
h3 {
    color: #36c5ff;
}
div.dropdown-menu,
div.dropdown-menu:hover {
    background-color: #343a40;
    color: white;
}
a.dropdown-item,
a.dropdown-item:hover {
    color: white;
    background-color: #343a40;
}
.nav-item {
    padding-right: 50px;
}
.mat-expansion-panel-header{
    background-color: gray;
}
app-footer {
    position: fixed;
    width: 100%;
}