<!--navbar section-->
<app-nav-norm></app-nav-norm>
<!--end of nevbar section-->
<div class=about>
    <h3>Frequently Asked Questions</h3>
    <br>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What is Premium Membership?</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                    <p>This membership grants you access to all our premium titles which are currently available on the platform as well as the titles which we will add in future.</p>
                    <p> In addition to premium titles, you also get access to all Live Sports, including Cricket, Premier League, F1, Tennis and many more.</p>
                    <p> This is our all-inclusive pack.</p>

                    <p> We offer 2 plans for Premium membership. A deeply discounted yearly plan for Rs. 999 or a monthly recurring plan for Rs. 299.</p>
                    <p>All our subscription plans are non-refundable. Our free content continues to be available for free for all users.</p>
                </a>
            </div>
        </li>
    </ul>
</div>
<app-footer></app-footer>