<!--navbar section-->
<div class="main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" style="position: fixed;z-index:1;width: 100%">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="position: fixed;z-index: 1;width: 100%">
        <a class="navbar-brand" href="#"><img src="'../../assets/logo.png" width="100px"></a>
        <button class="btn btn-mid" type="submit" routerLink="/login"><i class="fa fa-sign-in"></i>
      Login</button>
    </nav>
    <!--end of nevbar section-->
</div>