<div class="main">
<!--documentry cards-->
    <div class="container">
    <h4>Bengoli Serials</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/290232-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Irabatir Chupkotha</h3>
                            <p>While Irabati is a kind and caring woman, Akash is an arrogant man with a troubled 
                                childhood. Both o...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/290263-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Mayurpankhi</h3>
                            <p>Tisham and Souryadeep like each other, but fate forces them apart. When they meet again,
                                under diffe...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/290269-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Phagun Bou</h3>
                            <p>Ayandeep marries Mahul, who has feelings for Anurup. Turns out, Anurup and Ayandeep are 
                                brothers!..</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/326582-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Nojor</h3>
                            <p>The Singha Roys may look like a normal family, but they have been reeling under the evil
                                sight, 'noj...</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/517651-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Saanjher Baati</h3>
                            <p>Ill-fated yet compassionate, Charu is a hard working sweet maker, who strives to fulfill
                                all her res ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/522324-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Ke Apon Ke Por</h3>
                            <p>From being the maid of the family to becoming their favourite daughter-in-law, Joba has
                                come far. No...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-10499-vl.webp" class="image"routerLink="/image" >
                        </div>
                        <div class="content">
                            <h3>Kusum Dola</h3>
                            <p>Ranajay and Iman tie the knot owing to circumstances beyond their control. While they
                                eventually fal...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-4257-vl.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Ichche Nodee</h3>
                            <p>Ichche Nodee is a Bengali romantic show aired on Star Jalsha. Meghla loves her elder
                                sister Adrija...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-631-vl.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Chokher Tara Tui</h3>
                            <p>Chokher Tara Tui is a Bengali romantic show aired on Star Jalsha. Tutul, a simple girl 
                                from Madhupur...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-8828-vl.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Khoka Babu</h3>
                            <p>Khoka, an innocent rural wrestler marries Tori, a city girl. As they eventually overcome
                                their contr ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/19931.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Rakhi Bandhan</h3>
                            <p>Bandhan and Rakhi are orphans. Neglected by their relatives, they are each other's 
                                support system. B...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/290181.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Bajlo Tomar Alor Benu</h3>
                            <p>Minu is an orphan raised by a famous idol maker. Follow Minu's inspiring journey as she
                                struggles to...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/291639.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Thakumar Jhuli</h3>
                            <p>Explore the world of fantasy through the stories from Thakumar Jhuli, a collection
                                 of Bengali folk t...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/32631.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Pratidaan</h3>
                            <p>With her life lessons, Shimul brought a change in her arrogant husband, Neel's
                                 life. Now with Neel b...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/474792.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Koler Bou</h3>
                            <p>Scientist Deep gets married to a naïve Tepi. To meet his family's high 
                                expectations from Tepi, he bu...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/486919.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Sreemoyee</h3>
                            <p>When Sreemoyee, a middle-aged housewife, realises that her family takes her for
                                 granted, she sets ou...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/521491.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Guriya Jekhane</h3>
                            <p>Best friends Guddu and Guriya stay in an orphanage in Darjeeling. When little
                                 Guriya is diagnosed wi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/522316.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Bijoyinee</h3>
                            <p>Aspiring to be a classical dancer, circumstances force Keka to work as a driver
                                 by day and a macha d...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-14176.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Mayar Badhon</h3>
                            <p>Strong-willed Gunja can go to any lengths for her younger sister, Ranja, even if
                                 it means sacrificin...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-15106.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Gopal Bhar</h3>
                            <p>Set in early 19th century, follow the childhood adventures of Gopal and his clever
                                 wife Parvati, bef...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-1676.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Kiranmala</h3>
                            <p>Kiranmala is a Bengali drama aired on Star Jalsha. A warrior princess sets out to
                                 reclaim her family...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-32.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Saat Paake Bandha</h3>
                            <p>Saat Paake Bandha is a Bengali reality show aired on Star Jalsha. This is a unique
                                 game show, in whi...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/bengoli/PCTV-6678.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Milon Tithi</h3>
                            <p>Milon Tithi is a Bengali drama aired on Star Jalsha. Milon Tithi is the story of
                                 friendship, trust a...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>
<!-- endcard -->
<br><br>
