<div class="main">
<!--documentry cards-->
<div class="container">
    <h4>Bengoli Serials</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/290232-v.webp" class="image" routerLink="/image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/290263-v.webp" class="image" routerLink="/image">
                    <div class="overlay">new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/290269-v.webp" class="image" routerLink="/image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div> 
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/326582-v.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div> 
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/517651-v.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/522324-v.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-10499-vl.webp" class="image"routerLink="/image" >
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-4257-vl.webp" class="image" routerLink="/image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-631-vl.webp" class="image" routerLink="/image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-8828-vl.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/19931.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/290181.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/291639.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/32631.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/474792.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/486919.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/521491.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/522316.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-14176.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-15106.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-1676.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-32.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/bengoli/PCTV-6678.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
        </div> 
    </div> 
</div>
<!-- endcard -->
<br><br>
