
<div class="main">
<!--documentry cards-->
    <!-- <div class="container">
        <h4>Tamil Serials</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/371598-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Aranmanai Kili</h3>
                            <p>The young and carefree Janaki is forced to marry a wheelchair bound Arjun, 
                                who comes from a prospero ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/371613-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Chinnathambi</h3>
                            <p>The story revolves around Chinnathambi, a village boy, and an arrogant city girl,
                                 Nandhini, who end...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/371662-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Pandian Stores</h3>
                            <p>Sathyamoorthy, along with his siblings Jeeva, Kathir and Kannan, runs Pandian 
                                stores, while his wife...</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/373013-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Naam Iruvar</h3>
                            <p>Separated at birth, twins Aravind and Mayan are poles apart in nature. 
                                What happens when their bride...</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/377007-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Anjali</h3>
                            <p>After the birth of their twins, Surya separates his specially abled daughter 
                                Anjali from his wife an...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/377139-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Raja Rani</h3>
                            <p>Due to certain circumstances, Karthik marries the maid of his family, 
                                Sembaruthi. Will Sembaruthi pr...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/377144-v.webp" class="image"routerLink="/image" >
                        </div>
                        <div class="content">
                            <h3>Barathi Kannamma</h3>
                            <p>In a society where women get stereotyped basis appearances, will Kannamma and 
                                Barathi manage to brea...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/382605-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Radha Krishna</h3>
                            <p>The story of Radha and Krishna is the epitome of eternal love, which transcends
                                 eras and emotions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/382609-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Eeramaana Rojaave</h3>
                            <p>Eeramaana Rojaave is a Tamil family drama on Star Vijay. When Malar is finally 
                                about to marry the lo...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/386521-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Adhe Kangal</h3>
                            <p>When the evil eye of a supernatural entity falls on a perfectly happy family,
                                 their lives change for...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/386552-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Ponmagal Vanthaal</h3>
                            <p>Rohini, a middle-class girl, agrees to enter into a contractual marriage 
                                alliance with Gowtham, for...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/386639-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Ponnukku Thanga Manasu</h3>
                            <p>A family drama woven around the much prevalent dowry system, this show narrates
                                 the story of Divya a...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/tamil/516648-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Bigg Boss</h3>
                            <p>Yet another epic season of Bigg Boss is back, bringing along manic measures of 
                                animosity-laced frien...</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div> -->
    <div class="container">
        <h4>Tamil Serials</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let serial of serials1">
                    <div class="box">
                        <div class="imgbox">
                            <img src="{{serial.episodicPosterUrl}}" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>{{serial.episodicTitle}}</h3>
                            <!-- <p>{{serial.episodicSynopsis}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- endcard -->
<br><br>

