
<div class="main">
  <!--documentry cards-->
  <div class="container">
    <h4>Kid Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                        <div class="box">
                            <div class="imgbox">
                                <img src="../../assets/horror5.webp" class="image">
                            </div>
                            <div class="content">
                                <h3>Sanjeevani</h3>
                                <p>Sanjeevani (2018), adventure thriller released in Telugu language in theatre 
                                    near you in Pandalam...</p>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller1.jpg" class="image" routerLink="/movie">
                </div>
                <div class="content">
                    <h3>Drishyam</h3>
                    <p>The film tells the story of a Maharashtrian family who live in Goa and whose lives turn
                         upside down when their older daughter...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller1.webp" class="image">
                </div>
                <div class="content">
                    <h3>Hate Story 3</h3>
                    <p>Hate Story 3 is a 2015 Indian Hindi-language Bollywood erotic thriller film directed by 
                        Vishal Pandya. </p>
                    </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller2.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Kaabil</h3>
                    <p>Rohan Bhatnagar (Hrithik Roshan) is a kind, happy young man who has been blind since birth
                         and works as a voice-over artist for a living.</p>
                    </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller2.webp" class="image">
                </div>
                <div class="content">
                    <h3>Black Water</h3>
                    <p>Black Water is a 2007 horror film written and directed by Andrew Traucki and David Nerlich.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller3.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Irada</h3>
                    <p>The film is set in Bathinda, with its thermal power plants and factories in the background
                         and is based on the true story of this city and its people.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller4.jpg" class="image"routerLink="/movie" >
                </div>
                <div class="content">
                    <h3>Aksar</h3>
                    <p>Aksar is a 2006 Indian Hindi thriller film directed by Anant Mahadevan and produced by
                         Narendra and Shyam Bajaj</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller5.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Survivor</h3>
                    <p>Survivor is a 2015 British-American action spy thriller film directed by James McTeigue...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller5.webp" class="image">
                </div>
                <div class="content">
                    <h3>Sultan</h3>
                    <p>Sultan is a classic underdog tale about a wrestler's journey, looking for a comeback by
                         defeating all odds staked up against him.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller6.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Copy</h3>
                    <p>Sid (Vikrant Massey) who is struggling to find a ground on who he wants to be and what the
                         society wants him to be. ... </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller6.webp" class="image">
                </div>
                <div class="content">
                    <h3>Final Destination</h3>
                    <p>Final Destination is a 2000 American supernatural horror film directed by James Wong and
                         the first in the film </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller7.jpg" class="image">
                </div>
                <div class="content">
                    <h3>1 Villain</h3>
                    <p>The movie starts with Aisha Verma (Shraddha Kapoor) calling her husband and leaving a 
                        message for him. </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                            <div class="imgbox">
                    <img src="../../assets/thriller8.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mirchi Malini</h3>
                    <p>The first TV film is titled Mirchi Malini. It is being directed by Bengali writer-director
                         Pratim Das Gupta. </p>
                    </div>
                    </div>
                </div>
        </div> 
    </div> 
  </div>
  <!-- endcard -->
  <br><br>
