
section{
  font-family: 'Merriweather', serif;
  height:100%;
  overflow: hidden;

} 
.fill-remaining-space{
flex: 1 1 auto;
margin-top: 10px;
}
 mat-toolbar {
   margin-top: 10px;
 background-color: white;
}
table{
  margin: auto;
}
.mat-button-toggle {
  /* border: 1px solid black; */
  /* border-radius: 4px; */
border: 0;
}
img:hover{
 opacity: 0.5; 
}
.mat-button-toggle-checked {
  border: 2px solid black;
  background-color: rgb(177, 208, 238); 
}
mat-card{
margin-left: 10%;
margin-right: 10%;
height: 100%;
margin-top: 2%;
}
mat-grid-list{
  margin-bottom: 100px;
}
.content1{
  margin-left: 30px;
  margin-bottom: 0px;
  
} 
p,tr td, .form-control,button,.headingStyle,mat-radio-button {
  font-family: 'Merriweather', serif;
}

.mat-form-field-infix {
  top: -0.25em;
}
mat-grid-list{
  margin-bottom: -160px;
}
mat-button-toggle{
height: 125px;
width: 175px;
margin-right: 10px;

}
.mark{
  color: red;
}

.mat-form-field-infix {
  top: -0.25em;
}
.form-horizontal{
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
}

.form-group{
    text-align: center;
}

.column {
  float: left;
  width: 45%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.user-profile{
  width: 50%;
  margin-left: 24px;
  margin-top: 10px;
}
  .person-icon{
      width: 200px;
      height: 200px;
  }
form{
padding-top: 50px;
border-block-start-color: black;
border-block-end-color: black;
border-block-start-width: 10px;
}

