
<div class="main">
<!--documentry cards-->
    <div class="container">
        <h4>Telugu Serials</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/108399-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Krishnaveni</h3>
                            <p>As a single mum, Sudha's life revolves around her daughter, Krishnaveni who is all set 
                                to tie the kn...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/119278-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Ave Kallu</h3>
                            <p>After Mohini turns into a witch, her daughter Niyati faces some spine-chilling events 
                                that turn her...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/12708-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Mounaraagam</h3>
                            <p>A heartwarming story of an unwanted girl child, who faces the wrath of the family that
                                wanted a boy.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/156969-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Manasuna Manasai</h3>
                            <p>Here's a tale of two couples who are as different as chalk and cheese, but 
                                destiny gets them entangl...</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/234735-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Malleeswari</h3>
                            <p>To provide a better life for her family, Malleeswari marries a rich man's son,
                                 who is serving a deat ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/290530-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Kanulu Moosina Neevaye</h3>
                            <p>Vaishnavi sets off on a train journey on her own, but by the end of it she ends 
                                up playing mother to ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/313762-v.webp" class="image"routerLink="/image" >
                        </div>
                        <div class="content">
                            <h3>Savitramma</h3>
                            <p>Balaraju is a village boy devoted to his mother. Nandini is an arrogant city girl
                                 with a modern outl ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/336862-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Super Singer</h3>
                            <p>The most awaited reality talent hunt is back with a panel of eminent judges, a
                                 bevy of mind-blowing...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/349774-v.webp" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Parivaar League</h3>
                            <p>Packed with a high dose of entertainment, this game show will have your beloved
                                 characters from your...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/358848-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Bhale Chance Le</h3>
                            <p>Watch the antics of your favourite celebrities when the host, Suma, takes them
                                 through the tradition...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/414714-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Vadinamma</h3>
                            <p>The eldest brother among the four is married, and his wife looks after his 
                                siblings like a mother...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/465312-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Kumkuma Puvvu</h3>
                            <p>Amrutha, Jayanti's illegitimate daughter, is separated from her mother at birth.
                                 But they are destin...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/89305-v.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Koilamma</h3>
                            <p>A soul-stirring journey of a young singing prodigy, Chinni, who sets out to find
                                 her father. Will de...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/PCTV-11722-vl.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Lakshmi Kalyanam</h3>
                            <p>Lakshmi agrees to marry Kalyan for the well-being of her sister, Swathi. However,
                                 there's a big sacr...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/PCTV-12405-vl.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Malleeswari</h3>
                            <p>To provide a better life for her family, Malleeswari marries a rich man's son,
                                 who is serving a deat...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/PCTV-15876-vl.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Agni Sakshi</h3>
                            <p>Gowri marries Shanker with the purpose of winning her ancestral property back 
                                from him. With externa ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/PCTV-16515-vl.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Kathalo Rajakumari</h3>
                            <p>Due to certain circumstances, Avani, a maid marries Akshay, the Singapore-returned
                                 son of Radhakrish...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/telagu/PCTV-17745-vl.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Kante Koothurne Kanali</h3>
                            <p>Kante Koothurne Kanali is a Telugu drama aired on Star Maa. Indumathi's parents
                                 are dependent on her...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>
<!-- endcard -->
<br><br>

