<div id="container">
    <h4><span>You may also like this</span></h4>
    <div ng2-carouselamos class="slides-wrapper" [items]="items" [width]="1150" [$prev]="prev" [$next]="next" [$item]="item">
    </div>

    <ng-template #prev id="prev1">
        <img src="../../assets/left.png" id="left">
    </ng-template>

    <ng-template #next>
        <img src="../../assets/right.png" id="right">
    </ng-template>

    <ng-template #item let-item let-i="index">
        <div class="items">
            <img class="latest" src="{{ item.mediaPosterUrl }}" routerLink="/movie/{{item.mediaTitle}}">
        </div>
    </ng-template>
</div>