 
body{
  background-image: linear-gradient();
}
.emp-profile{
  padding: 3%;
  margin-top: 10%;
  /* margin-bottom: 15%;  */
  border-radius: 0.2rem;
  background: #fff;
  color: black;
  font-family: 'Merriweather',serif;
  
}
.profile-img{
  text-align: center;
  margin-left: 40px;
}
.profile-img img{
  width: 90%;
  height: 200%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -10%;

  width: 50%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;

}
.profile-head h4{
  color: #333;
  font-size: 30px;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 2.5rem;
  width: 80%;
  padding: 5%;
  font-weight: 700;
  color: #6c7b7d;
  cursor: pointer; 
  margin-left:20%;
  padding-left: 10%;
  font-size: 20px;
}
.col-md-2{
  font-size: 20px;
}


.profile-head .nav-tabs{

  margin-bottom:10%;
  font-size: 20px;
}
.profile-head .nav-tabs .nav-link{
  font-weight:700;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.col-md-2{
  margin-top: 20px;
  margin-left: 40%;
}


#home{
 padding-top: -35%;
  margin-top:-35%;
  float: left;
  margin-left: 100%; 
  padding-left: 10%;
  font-size: 18px;
  color: black;
}
.new{
  margin-left:270px;
}

