#container{
  width:90%;
  margin:3.5em auto;
  padding:10;
  margin-bottom: 0%;
}
#container H4{
  padding-top: 0;
  margin-bottom: 20px;
}
#left,#right{
  margin:50px;
}

.latest{
  height: 180px;
  width: 165px;
  border-radius: 14px;
  margin-top: 15px;
  /* margin-left: 10px; */
  padding: 5px;
  margin-bottom:30px;
}
.items:hover img,
.items.hover img {
 -webkit-transform: scale(1.15);
 transform: scale(1.15);
}
h4{
  color: white;
  margin-left: 110px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 span:hover{
  color: #36c5ff;
  font-size: 25px;
}
