.main{
    background: black;
    font-family: 'Merriweather', serif;
    width:100%;
}
.btn-group i{
    color:white;
}
nav {
    position: absolute;
    z-index: -1;
}
 a.navbar-brand{
     font-family: 'Merriweather', serif;
     font-size: 2em;
 }
 button{
	position: relative;
	margin-left: 1280px;
 }
 .nav-item{
    padding-right: 50px;
 }
 a.navbar-brand{
     font-family: 'Merriweather', serif;
     font-size: 2em;
 }
 #parent{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
