<!--documentry cards-->
<!-- <div class="container">
    <h4>Web Series</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/150700-v.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>Unmarried</h3>
                        <p>Three friends, three unique problems, but the world has only one solution: Shaadi...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/294802-v.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>Shockers</h3>
                        <p>From blood-laden foot prints to the dead coming back, to naughty online chats to an
                             old vinyl record, these horror stories...</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/391977-v.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>Roar of the Lion</h3>
                        <p>Dhoni. Captain Cool. Thala. Multiple names, many stories. But there's one that the
                             world has never heard.</p>
                    </div>
                </div> 
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/413615-v.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>City of Dreams</h3>
                        <p>An assassination attempt on Mumbai's most polarising politico triggers a dirty game
                             of power and politics in the Gaikwad family.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/464645-v.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>Ishq Kills</h3>
                        <p>When love turns sour, it can lead to crime. Ishq Kills is a collection of stories
                             of love and revenge,..</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/468727-v.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>Hostages</h3>
                        <p>Four masked men break into the Anand family home, taking them hostage. Pushed into
                             a do-or-die situation,..</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/51089-v.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>White Matter</h3>
                        <p>With his eyes on the Nobel Prize, Dr. Subramaniam, an eccentric scientist,..</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/web-series/PCTV-360-vl.webp" class="image">
                    </div>
                    <div class="content">
                        <h3>Confessions Of An Indian Teenager</h3>
                        <p>In this teen drama series, troubled teenagers tackle issues like first crush, 
                            peer pressure, parents' expectations,..</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/w2.jpeg" class="image">
                    </div>
                    <div class="content">
                        <h3>Criminal Justice</h3>
                        <p>Sex, drugs, and a gruesome murder. An edgy one night stand turns into a nightmare
                             for Aditya, when he wakes up...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/w3.jpeg" class="image">
                    </div>
                    <div class="content">
                        <h3>Tripling</h3>
                        <p>It traces the story of three siblings Chandan, Chanchal & Chitvan. Together they 
                            start a hilarious journey, to find themselves and their relations.</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/w4.jpeg" class="image">
                    </div>
                    <div class="content">
                        <h3>Mirzapur</h3>
                        <p>Journey of two brothers lured by the idea of power only to get consumed by it.</p>
                    </div>
                </div> 
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/w5.jpeg" class="image">
                    </div>
                    <div class="content">
                        <h3>Haraamkhor</h3>
                        <p>A married teacher's illicit affair with his teenage student turns into an odd 
                            love triangle,..</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/w6.jpeg" class="image">
                    </div>
                    <div class="content">
                        <h3>Breathe</h3>
                        <p>how far will you go to protect the one you love. Two desperate and driven men must
                             engage in the ultimate cat and mouse game to save the one they love.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/w7.jpeg" class="image">
                    </div>
                    <div class="content">
                        <h3>Little Things</h3>
                        <p>A couple in a live-in relationship in Mumbai.[6] The series progresses with everyday
                             life explored through conversation between the couple.</p>
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
</div> -->
<!-- endcard -->
<div class="container">
    <h4>Web Series</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" *ngFor="let s of series1">
                <div class="box">
                    <div class="imgbox">
                        <img src="{{s.episodicPosterUrl}}" class="image">
                    </div>
                    <div class="content">
                        <h3>{{s.episodicTitle}}</h3>
                        <p>{{s.episodicSynopsis}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
