.btn-group i{
    color:rgb(26, 24, 24);
}
nav {
    position: fixed;
    z-index: -1;
}
li.menu-item {
    margin:0 0 10px 0;
    transform: translate(15px,-5px);
    position: absolute;
    padding-right: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .nav-item{
    padding-right: 50px;
 }
 .navbar-brand{
     padding-right: 20px;
 }
 .form-inline{
     padding-left:200px; 
     padding-right: 20px;

 }
 .form-inline i {
     color:white;
 }
 a.navbar-brand{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 2em;
 }