<!--navbar section-->
<div class="main">
    <app-nav-norm></app-nav-norm>
    <!--end of nevbar section-->
    <div class=about>
        <h3>About Us</h3>
        <br>
        <p>Hotstar is an online video streaming platform owned by Novi Digital Entertainment Private Limited, a wholly owned subsidiary of Star India Private Limited. Hotstar currently offers over 100,000 hours of TV content and movies across 9 languages,
            and every major sport covered live. Highly evolved video streaming technology and a high attention to quality of experience across devices and platforms, make Hotstar the most complete video destination for Over The Top (OTT) video consumers.</p>
        <br>
        <p><span>A VIDEO EXPERIENCE LIKE NO OTHER</span></p>
        <p><span>Seamless Video Playback</span> - Our adaptive video streaming technology ensures that the best possible video quality is played back automatically based on the available bandwidth, therefore making it a great video experience on both mobile
            networks as well as WiFi internet connections. Our video is optimized to play on mobile networks with inconsistent throughput so that our users don’t have to compromise on their experience on the low end, and play HD quality video on the top
            end of bandwidth availability. Additionally, our users can manually select the quality of video that suits their taste.</p>

        <p><span>Smart Search</span> - Content search on Hotstar has been optimized to reduce complexity and delay in accessing content. Accurate search results, with lightning fast autocomplete suggestions navigate users to video with minimal navigation
            friction and ease of use.</p>

        <p><span>Friendly User Interface</span> - Content organization on Hotstar is a result of a thoughtful user experience approach and strong design principles that ensure that the user is not overwhelmed with the breadth of content available. Using
            a mix of algorithms and human curation, users at any stage of their interaction with Hotstar will discover content and see their experience evolve with their interaction patterns over time.</p>

        <p><span>Hot Content Catalogue</span> - Hotstar offers the latest and popular TV, movies and knowledge-based content from India and the world. With content in 8 languages, spanning 15 TV channels, Hotstar is home to some of the longest running, and
            highest rated TV content in the country. Our roster of the biggest names in Indian cinema makes Hotstar the preferred destination for the biggest blockbusters from Bollywood and regional cinema.</p>

        <p><span>Originals</span> - In our endeavour to drive meaningful engagement with our audience, Hotstar is investing in generating content keeping in mind the sentiments and attitudes of our consumers and has enjoyed great success with original programming
            content such as On Air with AIB, M Bole Toh, One Tip One Hand.
        </p>

        <p><span>Access</span> - Hotstar is available on the Google Play Store and Apple App Store for mobile and tablet applications and can be accessed at www.hotstar.com.</p>
    </div>
    <br>
    <app-footer></app-footer>
</div>