div.main {
    background-color: black;
    color: white;
} 
.section-subtitle{
    margin-bottom: 7px;
    margin-left: 7px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    border-left: 3px solid #36c5ff;
    font-size: 700;
    font-family: tohama;
}
.btn-color-background{
    -moz-user-select: none;
    border-radius: 14px;
    background: #36c5ff;
    border: 2px solid #052430;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 0;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
.btn-color-background:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: transparent;
}
app-footer {
    margin-top: -115px;
    position: fixed;
    width: 100%;
    margin-bottom: 0;
}