#container{
  width:80%;
  /* margin:0em auto; */
  padding:10;
  font-family: 'Merriweather', serif;
  margin:3.5em auto;
  margin-bottom: 0%;
  
 }
 #container H4{
   /* margin-top: 15px; */
   margin-bottom: 20px;
   /* font-weight:bold; */
   padding-top: 0;
   margin-left: 100px;
 }
 .items:hover img,
.items.hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  /* border-radius: 5px; */
}
 #left,#right{
  margin: 20px;
 }
 .latest{
  height: 180px;
  width: 165px;
  border-radius: 14px;
  margin-top: 15px;
  margin-left: 12px;
  margin-bottom:30px;
 }
 .overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 250px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}
.container:hover .overlay {
  opacity: 1;
}
.textStyle{
  color: white;
}

.textStyle:hover{
  color: #36c5ff;
  font-size: 25px;
}