
<div class="main">

  <!--documentry cards-->
  <!-- <div class="container">
    <h4>Mystery Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/185e762965847e2dc85c684ec1260f82.jpg" class="image" routerLink="/movie">
                </div>
                <div class="content">
                    <h3>Orphan</h3>
                    <p>A husband and wife who recently lost their baby adopt a 9 year-old girl who is not nearly as
                         innocent as she claims to be. ...</p>
                        </div> 
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/37e79ce40c00984f1e9ac7c14021f56c--arbaaz-khan-salman-khan.jpg" class="image" routerLink="/movie">
                </div>
                <div class="content">
                    <h3>Do Aur Do Paanch</h3>
                    <p>Two rival burglars end up at the same school with the intent of abducting a rich man's son
                         for a large ransom.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/51RgApRSCwL.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Bhram</h3>
                    <p>Bhram is a 2008 Hindi film starring Dino Morea, Milind Soman and
                         Sheetal Menon.</p>
                    </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/67056070.gif" class="image">
                </div>
                <div class="content">
                    <h3>Phillauri</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                    </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/67105621.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>706</h3>
                    <p>706 is a Bollywood supernatural-thriller, which has been written and directed by Shravan Kumar.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/MV5BM2ZiMGM5MmMtOWZlNS00MDkxLTk0MzMtOTAxNDBlOGQ3OTkyXkEyXkFqcGdeQXVyMjY1MjkzMjE@._V1_.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Phhir</h3>
                    <p>Phhir is an Indian romance and thriller film starring Rajneesh Duggal, Adah Sharma, and 
                        Roshni Chopra.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/MV5BMTIwMzExNDEwN15BMl5BanBnXkFtZTYwODMxMzg2._V1_.jpg" class="image"routerLink="/movie" >
                </div>
                <div class="content">
                    <h3>Gone in 60 Seconds</h3>
                    <p>Gone in 60 Seconds is a 2000 American action heist film starring Nicolas Cage, Angelina
                         Jolie,...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/MV5BNWM2MDZmMDgtYjViOS00YzBmLWE4YzctMDMyYTQ2YTc4MmVkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UX140_CR0,0,140,209_AL_ (1).jpg" class="image">
                </div>
                <div class="content">
                    <h3>Mulholland</h3>
                    <p>It tells the story of an aspiring actress named Betty Elms, newly arrived in Los 
                        Angeles, who meets and befriends an amnesiac woman</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/MV5BODBkOTRkZDgtNzI3My00YWZkLWE5NjAtNmQxMjAwYTY3YjYxXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_UY209_CR2,0,140,209_AL_.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Deewangee</h3>
                    <p>Deewangee is a 2002 Indian psychological thriller film directed by Anees Bazmee and produced
                         by Nitin Manmohan.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/MV5BOTkyYmRmYzktMzExZC00MDUwLTliYjMtNjhkMzNhM2EzMTRiXkEyXkFqcGdeQXVyNjE1OTQ0NjA@._V1_UX182_CR0,0,182,268_AL_.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Utron</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/images (1).jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Missing</h3>
                    <p>That is how they came to the resort. When Titli suddenly goes missing Aparna throws a 
                        fit. ... </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/images.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Ugly</h3>
                    <p>Ugly is a 2014 Indian Hindi-language thriller film written, co-produced and directed by
                         Anurag Kashyap. ...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/killer-telugu-et00099798-29-03-2019-11-43-02.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Killer</h3>
                    <p>Killer is a 1992 Telugu action thriller film, produced by V. B. Rajendra Prasad under his
                         Jagapathi Art Pictures banner and directed by Fazil. ... </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/main-qimg-c9a08157d06139ad1190ef0e25261790.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Kshanam</h3>
                    <p>Kshanam (English: Moment ) is a 2016 Indian Telugu-language mystery thriller film released
                         worldwide on 26 February 2016. ... </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/main-qimg-dfd31c7b97ca5b615439fcc92fdfacdf.webp" class="image">
                </div>
                <div class="content">
                    <h3>Drishyam</h3>
                    <p>Drishyam. The film tells the story of a Maharashtrian family who live in Goa and whose lives turn upside down when their older daughter Anju has a skirmish </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/main-qimg-f25fff78a19f9c55ec67a877a0faf46a.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Drishyam</h3>
                    <p>Drishyam is an Telugu film Starring Venkatesh and Meena in the lead roles the movie
                         is directed by Sripriya.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/poster-19611-poster.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Sarah Landon</h3>
                    <p>Sarah Landon is a 2007 supernatural thriller film from Freestyle Releasing starring Rissa
                         Walters as the title character. ... </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/mystry/u_turn_telugu_movie_poster.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Paranormal Hour</h3>
                    <p>Paranormal Hour is a 2007 supernatural thriller film from Freestyle
                            Releasing starring Rissa Walters as the title character. ... </p>
                    </div>
                    </div>
                </div>
        </div> 
    </div> 
  </div> -->
  <!-- endcard -->
  <div class="container">
        <h4>Mystery Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let movie of movies1">
                    <div class="box">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" 
                            routerLink="/movie/{{movie.mediaTitle}}">
                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <br><br>
  </div>
