<!--navbar section-->
<div class="main">
    <app-nav-norm></app-nav-norm>
<!--end of nevbar section-->
  <!--documentry cards-->
  <div class="container">
    <h4>Mystery Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <img src="../../assets/mystry/185e762965847e2dc85c684ec1260f82.jpg" class="image" routerLink="/movie">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/37e79ce40c00984f1e9ac7c14021f56c--arbaaz-khan-salman-khan.jpg" class="image" routerLink="/movie">
                    <div class="overlay">new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/51RgApRSCwL.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div> 
                <div class="col-sm-2">
                    <img src="../../assets/mystry/67056070.gif" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div> 
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/67105621.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/MV5BM2ZiMGM5MmMtOWZlNS00MDkxLTk0MzMtOTAxNDBlOGQ3OTkyXkEyXkFqcGdeQXVyMjY1MjkzMjE@._V1_.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/MV5BMTIwMzExNDEwN15BMl5BanBnXkFtZTYwODMxMzg2._V1_.jpg" class="image"routerLink="/movie" >
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/MV5BNWM2MDZmMDgtYjViOS00YzBmLWE4YzctMDMyYTQ2YTc4MmVkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UX140_CR0,0,140,209_AL_ (1).jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/MV5BODBkOTRkZDgtNzI3My00YWZkLWE5NjAtNmQxMjAwYTY3YjYxXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_UY209_CR2,0,140,209_AL_.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/MV5BOTkyYmRmYzktMzExZC00MDUwLTliYjMtNjhkMzNhM2EzMTRiXkEyXkFqcGdeQXVyNjE1OTQ0NjA@._V1_UX182_CR0,0,182,268_AL_.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/images (1).jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/images.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/killer-telugu-et00099798-29-03-2019-11-43-02.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/main-qimg-c9a08157d06139ad1190ef0e25261790.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/main-qimg-dfd31c7b97ca5b615439fcc92fdfacdf.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/main-qimg-f25fff78a19f9c55ec67a877a0faf46a.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/poster-19611-poster.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/mystry/u_turn_telugu_movie_poster.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
        </div> 
    </div> 
  </div>
  <!-- endcard -->
  <br><br>
  <app-footer></app-footer>
