.container {
    margin-top: 5%;
    width: 100%;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.nav-tabs {
    background-color: #343a40;
    font-size: 20px;
    width: 100%;
    
  }
  .nav-item2{
    margin-left:10px;
  }
  .container3{
    margin-top: 10%;
    margin-left: 28%;
  }
.nav-item2 {
    margin-left: 10px;
}

.container1 {
    margin-top: 10%;
    margin-left: 25%;
}

.tab-content {

    margin-top: -56px;
    background-color: white;
}

.row {
    margin-top: 50px;
}

label {
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

textarea {
    resize: none
}

.container1 .btn-md {
    margin-left: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.nav-link {
    background-color: #343a40;
    color: white;
}

.nav-link:hover {
    background-color: #e0f7f4;
    color: black;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #36e5ff;
    border-color: black;
}

.btn-info {
    margin-left: 5%;
}
.footer{
    margin-top: 70px;
}
.btn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
    background: #36c5ff;
}