
<section fxLayout="row wrap" fxLayoutAlign="center center"  class="section" >
  <mat-card fxFlex="1000px" fxFlex.xs="50%" style="background-color: black">
           
    <mat-horizontal-stepper labelPosition="bottom" linear style="height: 100%">
         <mat-step [stepControl]="firstForm" >
             <form #viewerForm="ngForm" [formGroup]="firstFormGroup"  class="form-horizontal" (ngSubmit)="onFirstSubmit(firstFormGroup.value)">
                  <ng-template matStepLabel><span class="headingStyle">Series Details</span></ng-template>
                     <mat-card class="example-card first-card" style="padding-bottom: 20px;" >
                       <mat-card-content class="content" >
                            <div class="row">
                               <div class="col-4">
                                 <label>Language</label> 
                               </div> 
                                <div class="col-8">
                                  <mat-form-field>
                                      <select matNativeControl class="form-control" formControlName="episodeLanguage" data-width="fit">
                                          <option value="Hindi">Hindi</option>
                                          <option value="Telugu">Telugu</option>
                                          <option value="Tamil">Tamil</option>
                                          <option value="Marati">Marati</option>
                                          <option value="English">English</option>
                                          <option value="Gujarathi">Gujarathi</option>
                                         <option value="Bengali">Bengali</option>
                                       </select>
                                  </mat-form-field>
    
                                 </div> 
                            </div>
                        
                            <div class="row">
                               <div class="col-4">
                                 <label >Poster</label> 
                               </div> 
                                    <div class="col-8">
                                      <mat-form-field >
                                          <input class="form-control" type="text" formControlName="episodePoster"  matInput >                       
                                         
                                      </mat-form-field>
                                    </div>
                            </div>
                            <div class="row">
                               <div class="col-4">
                                  <label >Type</label>
                               </div> 
                               <div class="col-8">
                                <mat-form-field>
                                  <select class="form-control" matNativeControl required formControlName="episodeType" >
                                     <option value="free">Free</option>
                                     <option value="premium">Premium</option>
                                  </select>
                                </mat-form-field>   
                               </div> 
                             </div> 

                      </mat-card-content>      
                      <!-- [disabled]="!firstFormGroup.valid" -->
                    <button mat-stroked-button matStepperNext [disabled]="!firstFormGroup.valid" >Next</button>
                  </mat-card>   
                </form>
            </mat-step>

<!-- Second form group-->
Pooja Patil 3:39 PM
<mat-step [stepControl]="secondForm">
    <!-- style="background-color: rgb(223, 91, 135)" -->
<form #viewerForm="ngForm" [formGroup]="secondFormGroup" (ngSubmit)="onSecondSubmit(secondFormGroup.value)" class="form-horizontal" >
<ng-template matStepLabel><span class="headingStyle">Cast & Crew</span></ng-template>
<!-- style="background-color: rgb(121, 207, 142)" -->
<mat-card class="example-card" >
  <!-- style="background-color: rgb(236, 136, 78)" -->
<mat-card-content class="content"  >
<div class="container1">
     <div class="row">
       <div class="col-4">
         <label>Studio Name:</label>
       </div>
       <div class="col-6">
        <mat-form-field>  
          <input class="form-control" type="text" formControlName="EpisodeStudioName"  matInput   required>
             <mat-error *ngFor="let validation of validation_messages.EpisodeStudioName">
             <mat-error class="error-message" *ngIf="firstFormGroup.get('EpisodeStudioName').hasError(validation.type) && (firstFormGroup.get('EpisodeStudioName').dirty ||firstFormGroup.get('EpisodeStudioName').touched)">{{validation.message}}
             </mat-error>
             </mat-error>
    </mat-form-field>
       </div>
     </div>
     <div class="row">
       <div class="col-4">
         <label>Crew:</label>
       </div>
     </div>
     <ul>
       <li *ngFor="let crew of crewList">
         {{crew.crewName}}  {{crew.crewRole}}
         <button (click)="deleteCrew(crew.crewName,crew.crewRole)">Delete</button>
       </li>
     </ul>
     <div class="row">
       <div class="col-5">
         <label>Name:</label>
       </div>
       <div class="col-5">
         <label>Role:</label>
       </div>
     </div>
     <!-- background-color: rgb(216, 157, 228); -->
     <form #viewerForm="ngForm" [formGroup]="sixthFormGroup"  class="form-horizontal" style="  margin: 0px"  >
     <div class="row">
       <div class="col-5">
        <mat-form-field>
          <input class="form-control" type="text" #crewName formControlName="crewName" matInput>
         
          <mat-error *ngFor="let validation of validation_messages.crewName">
          <mat-error class="error-message" *ngIf="secondFormGroup.get('crewName').hasError(validation.type) && (secondFormGroup.get('crewName').dirty || secondFormGroup.get('crewName').touched)">{{validation.message}}
          </mat-error>
          </mat-error>
        </mat-form-field>       
      </div>
       <div class="col-5">
        <mat-form-field>
          <select matNativeControl #crewRole class="form-control" formControlName="crewRole" data-width="fit">
              <option value="director">Director</option>
              <option value="producer">Producer</option>
              <option value="writer">Writer</option>
              <option value="music">Music</option>
           </select>
        </mat-form-field>
       </div>
       <div class="col-2">
           <button type="submit" (click)="addCrew(crewName.value,crewRole.value)">Add</button>
       </div>
     </div>
     </form>
     <div class="row">
       <div class="col-4">
         <label>Cast:</label>
       </div>
     </div>
     <ul>
         <li *ngFor="let cast of castList">
           {{cast.screenName}}  {{cast.realName}}
           <button (click)="deleteCast(cast.screen,cast.real)">Delete</button>
         </li>
       </ul>
     <div class="row">
       <div class="col-5">
         <label>Screen Name:</label>
       </div>
      
       <div class="col-5">
         <label>Real Name:</label>
       </div>
     </div>
     <!-- background-color: rgb(104, 230, 230);  -->
     <form #viewerForm="ngForm" [formGroup]="seventhFormGroup"  class="form-horizontal"  style=" margin: 0px">
     <div class="row">
       <div class="col-5">
        <mat-form-field>  
          <input class="form-control" type="text" #screenName formControlName="screenName" matInput>
               <mat-error *ngFor="let validation of validation_messages.screenName">
               <mat-error class="error-message" *ngIf="secondFormGroup.get('screenName').hasError(validation.type) && (secondFormGroup.get('screenName').dirty ||secondFormGroup.get('screenName').touched)">{{validation.message}}
               </mat-error>
               </mat-error>
        </mat-form-field>
      </div>
       <div class="col-5">
        <mat-form-field>
          <input class="form-control" type="text" #realName formControlName="realName" matInput   required>
     
         <mat-error *ngFor="let validation of validation_messages.realName">
          <mat-error class="error-message" *ngIf="secondFormGroup.get('realName').hasError(validation.type) && (secondFormGroup.get('realName').dirty || secondFormGroup.get('realName').touched)">{{validation.message}}
          </mat-error>
          </mat-error>
        </mat-form-field>    
     </div>
       <div class="col-2">
           <button type="submit" (click)="addCast(screenName.value,realName.value)">Add</button>
       </div>
     </div>
     </form>
   </div>
   </mat-card-content>
   <button mat-stroked-button matStepperPrevious >Back</button>
   <button mat-stroked-button matStepperNext  [disabled]="!secondFormGroup.valid" >Next</button>
 </mat-card>
 </form>
</mat-step>
<!--end second form group-->

    <mat-step [stepControl]="thirdForm">
    <form #viewerForm="ngForm" [formGroup]="thirdFormGroup"  class="form-horizontal"  (ngSubmit)="onThirdSubmit(thirdFormGroup.value)">
      <ng-template matStepLabel><span class="headingStyle">Episode Details</span></ng-template>
        <mat-card class="example-card">
          <mat-card-content class="content">
            <p>Episode List</p>
               <!-- <table > -->
                   <div class="row">
                     <div class="col-5">
                       <label >Episode Number</label> </div> 
                    <div class="col-7">
                       <mat-form-field>
                          <input class="form-control" type="number" name="episodeNo" formControlName="episodeNo"  matInput   required>
                            <!-- <mat-error *ngFor="let validation of validation_messages.episodeNo">
                            <mat-error class="error-message" *ngIf="thirdFormGroup.get('episodeNo').hasError(validation.type) && (thirdFormGroup.get('episodeNo').dirty || thirdFormGroup.get('episodeNo').touched)">{{validation.message}}
                            </mat-error>
                            </mat-error> -->
                       </mat-form-field> 
                     </div> 
                   </div> 
                   <div class="row">
                      <div class="col-5">
                         <label >Video File</label>
                      </div> 
                      <div class="col-7">
                            <input type="file" class="form-control" formControlName="episodeUrl" (change)="selectVideo($event)">
                            <button mat-raised-button (click)="uploadVideo()" [disabled]="!selectedVideo">Upload</button>
                     </div> 
                  </div>  
     <!-- gender row is closed-->
                     <div class="row">
                         <div class="col-5">
                            <label >Description</label>
                         </div> 
                             <div class="col-7">
                               <mat-form-field>
                                <input class="form-control" type="text" name="posterDescription" formControlName="posterDescription"  matInput   required>
<!--                            
                                 <mat-error *ngFor="let validation of validation_messages.posterDescription">
                                 <mat-error class="error-message" *ngIf="thirdFormGroup.get('posterDescription').hasError(validation.type) && (thirdFormGroup.get('posterDescription').dirty || thirdFormGroup.get('posterDescription').touched)">{{validation.message}}
                                 </mat-error>
                                 </mat-error> -->
                          </mat-form-field>
                        </div> 
                     </div> 
                     <div class="row">
                        <div class="col-5">
                         <label >Poster</label>
                        </div> 
                        <div class="col-7">
                        <mat-form-field> 
                            <input class="form-control" type="text" name="posterUrl" formControlName="posterUrl"  matInput   required>
                           
                         </mat-form-field>
                     </div>  
                  </div> 
<!-- name row is closed-->

                     <div class="row">
                        <div class="col-5">
                           <label >Release Date</label> 
                        </div> 
                        <div class="col-7">
                        <mat-form-field>
                              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="releaseDate" >
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field>
                         </div> 
                         </div>
                   <!-- </table> -->
               </mat-card-content>
              <button mat-stroked-button matStepperPrevious  >Back</button>&nbsp;                      
            <button mat-stroked-button matStepperNext  [disabled]="!thirdFormGroup.valid">Next</button>
           </mat-card> 
         </form>
       </mat-step>        

       <mat-step [stepControl]="fourthForm">
          <form #viewerForm="ngForm" class="form-horizontal" style="height: 100%">
          
              <ng-template matStepLabel><span class="headingStyle">Status</span></ng-template>
          
              <mat-card class="example-card">
            
                  <mat-card-content class="content">
                      <div >
                        <h3>Thank you!</h3>
                        <br>
                        <p>Successfully uploaded</p>
                        </div>
                       </mat-card-content>
                    <button mat-stroked-button matStepperPrevious>Back</button>
                    <button type="submit" (click)="saveMedia()" mat-stroked-button matStepperNext>Publish</button>
                </mat-card>   
              
          </form>
          </mat-step>
          <!-- form 4th is closed-->          
     </mat-horizontal-stepper>       
    </mat-card>
  </section>