<div class="main">
<app-nav-norm></app-nav-norm>
<app-carousal></app-carousal>
<!-- <app-firstcard></app-firstcard> -->
<app-datacard [heading]="heading1" [list]="movie"></app-datacard>
<app-datacardepisodic [heading]="heading2" [list]="tv"></app-datacardepisodic>
<app-datacardepisodic [heading]="heading3" [list]="web"></app-datacardepisodic>
<app-datacard [heading]="heading4" [list]="docs"></app-datacard>
<!-- <app-secondcard></app-secondcard>
<app-thirdcard></app-thirdcard> -->
<app-footer></app-footer>
</div>