
<div class="main">
<!--documentry cards-->
<div class="container">
    <h4>Hindi Serials</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/195501-v.webp" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Mahadev</h3>
                        <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/238347-v.webp" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Savdhan India</h3>
                        <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/267527-v.webp" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Mahadev</h3>
                        <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/koi-laut-aya-hei.jpg" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                            <a href="#" class="btn btn-default btnD">Watch</a> 
                        </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/tarak-mehta.jpg" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                            <a href="#" class="btn btn-default btnD">Watch</a> 
                        </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/ye-rishtey.jpg" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                            <a href="#" class="btn btn-default btnD">Watch</a> 
                        </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/311883-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                            <a href="#" class="btn btn-default btnD">Watch</a> 
                        </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/311889-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                            <a href="#" class="btn btn-default btnD">Watch</a> 
                        </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/311992-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div> 
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/332482-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div> 
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/366139-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/38946-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/411853-v.webp" class="image"routerLink="/image" >
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/434969-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/494524-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/508382-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/509071-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/509213-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Mahadev</h3>
                <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/515448-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/516648-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/516767-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/521313-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/524458-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/86455-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">   
                    <img src="../../assets/hindi/PCTV-527-vl.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/PCTV-693-vl.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/PCTV-81-vl.webp" class="image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/aap-ke-aa-jane-se.jpg" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                                    Atul Kulkarni and Rituparna.</p>
                                    <a href="#" class="btn btn-default btnD">Watch</a> 
                                </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/ek-deewana-tha.jpg" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                                    Atul Kulkarni and Rituparna.</p>
                                    <a href="#" class="btn btn-default btnD">Watch</a> 
                                </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/ishq-subhan-allah.jpg" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                                    Atul Kulkarni and Rituparna.</p>
                                    <a href="#" class="btn btn-default btnD">Watch</a> 
                                </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/jodha-akbar.jpg" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Mahadev</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                                Atul Kulkarni and Rituparna.</p>
                                <a href="#" class="btn btn-default btnD">Watch</a> 
                            </div>
                    </div> 
                </div>
        </div> 
    </div> 
</div>
<!-- endcard -->
<br><br>
