<div class="main">
<!--documentry cards-->
<div class="container">
    <h4>Hindi Serials</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/195501-v.webp" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Mahadev</h3>
                        <p>Devon Ke Dev, Mahadev is a drama series based on the legends of the God Lord Shiva,
                             also known as Mahadev.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/238347-v.webp" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Savdhan India</h3>
                        <p>Savdhaan India – India Fights Back (English: Attention India! – India Fights Back) 
                            is an Indian Hindi-language crime show aired by Star Bharat.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/267527-v.webp" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Mahabharat</h3>
                        <p>Mahabharat is an Indian television series based on the Hindu epic of the same name.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/koi-laut-aya-hei.jpg" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Koi Laut Ke Aaya Hai </h3>
                        <p>The show is produced by Sphere Origins, the show is a psychological thriller.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/hindi/tarak-mehta.jpg" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Taarak Mehta Ka Ooltah Chashmah</h3>
                        <p>is one of India's longest running sitcoms. It is produced by Neela Tele Films Private Limited.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/ye-rishtey.jpg" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Yeh Rishtey Hain Pyaar Ke</h3>
                <p>Produced by Rajan Shahi's Director's Kut Productions, it stars Rhea Sharma and Shaheer Sheikh
                     who portray Mishti Agarwal and Abir Rajvansh.</p>
                            <a href="#" class="btn btn-default btnD">Watch</a> 
                        </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/311883-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Kulfi Kumar Bajewala</h3>
                <p>Sweet, cute and completely charming, Kulfi is a singing prodigy, who is blessed with a 
                    nightingale’s voice.</p>
                <a href="#" class="btn btn-default btnD">Watch</a> 
                </div>
            </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/311889-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Nazar</h3>
                <p>The series follows a daayan, an evil entity who bewitches the Rathod family, and outlines 
                    the struggles faced by the family under her evil eye.</p>
                <a href="#" class="btn btn-default btnD">Watch</a> 
            </div>
            </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/311992-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Iss Pyaar Ko Kya Naam Doon?</h3>
                <p>The story narrates the romance between Khushi Kumari Gupta, a middle-class girl from Lucknow,
                     and Arnav Singh Raizada, a wealthy business tycoon in Delhi.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div> 
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/332482-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Yeh Hai Mohabbatein</h3>
                <p>The show is a romantic soap opera about two different people and how their lives are linked by a daughter.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div> 
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/366139-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Shararat</h3>
                <p>Shararat – Thoda Jaadu, Thodi Nazaakat is an Indian fantasy sitcom which aired on Star Plus channel from 2003 to 2007.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/38946-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Radhakrishn</h3>
                <p>Radhakrishn is an Indian mythological television series. It is produced by Siddharth Kumar 
                    Tewary , Rahul Kumar Tiwari and Gayatri Gill Tiwari</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/411853-v.webp" class="image"routerLink="/image" >
            </div>
            <div class="content">
                <h3>Yeh Rishta Kya Kehlata Hai</h3>
                <p>The story originally begins with Akshara Maheshwari's marriage arranged with Naitik Singhania,
                     in a large Marwari joint family based in Udaipur.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/434969-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Kasautii Zindagii Kay</h3>
                <p>Kasautii Zindagii Kay (The Trials of Life) is an Indian television series created by Ekta Kapoor.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/494524-v.webp" class="image" routerLink="/image">
            </div>
            <div class="content">
                <h3>Kahaan Hum Kahaan Tum</h3>
                <p>Kahaan Hum Kahaan Tum, is an Indian romantic drama television series that premiered on 17 June 2019 on Star Plus.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/508382-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Sufiyana Pyaar Mera</h3>
                <p>Sufiyana Pyaar Mera is an Indian television series produced by Danish Javed and Prateek Sharma,
                     it stars Helly Shah and Rajveer Singh.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/509071-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Sarvagun Sampanna</h3>
                <p>Ek Bhram... Sarvagun Sampanna is thriller series produced by Sunny Side Up Films, it stars 
                    Shrenu Parikh and Zain Imam.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                <img src="../../assets/hindi/509213-v.webp" class="image">
            </div>
            <div class="content">
                <h3>Dil Toh Happy Hai Ji</h3>
                <p>Dil Toh Happy Hai Ji is an Indian drama television series produced by 4 Lions Films, 
                    it stars Jasmin Bhasin, Donal Bisht, Ansh Bagri and Rohit Purohit.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                </div>
            </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/515448-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Divya Drishti</h3>
                    <p>Divya and Drishti are sisters separated at a young age, gifted with superpowers.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/516648-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Bigg Boss</h3>
                    <p>In the show, contestants called "housemates" live together in a specially constructed 
                        house that is isolated from the outside world.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/516767-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>The Office</h3>
                    <p>Life at Wilkins Chawla, a mediocre paper company is as boring as the humour of its 'Fun'jabi boss.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/521313-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Nimki Mukhiya</h3>
                    <p>The show's main theme is women empowerment and shows how a girl becomes the Mukhiya of her village.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/524458-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Ek Thi Rani Ek Tha Raavan</h3>
                    <p>Set in Jhansi, a land where Rani Laxmi Bai fought for her kingdom, comes this emotional 
                        story of two sisters.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/hindi/86455-v.webp" class="image">
                </div>
                <div class="content">
                    <h3>Muskaan</h3>
                    <p>The new journey of a grown-up Muskaan takes her to Ronak, a guy who lives on his own terms.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">   
                    <img src="../../assets/hindi/PCTV-527-vl.webp" class="image">
                </div>
                <div class="content">
                    <h3>Ek Hazaaron Mein Meri Behna Hai</h3>
                    <p>Sisters Maanvi and Jeevika can go to any lengths for each other. Follow the sisters’ 
                        journey as they stand by each other and find their soulmates.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/ishq-subhan-allah.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Ishq Subhan Allah</h3>
                    <p>Ishq Subhan Allah is a Hindi drama television series starring Eisha Singh and Adnan Khan.</p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/PCTV-693-vl.webp" class="image">
                </div>
                <div class="content">
                    <h3>Saathiya</h3>
                    <p>Saath Nibhaana Saathiya is a Hindi-language Indian television drama series, 
                        produced by Rashmi Sharma Telefilms Limited. </p>
                        <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/PCTV-81-vl.webp" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Diya Aur Baati Hum</h3>
                    <p>Sooraj, a loving husband and a self-made man from a traditional family helps his ambitious
                         wife, Sandhya achieve her dreams of becoming an IPS officer.</p>
                                    <a href="#" class="btn btn-default btnD">Watch</a> 
                                </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/aap-ke-aa-jane-se.jpg" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Aap Ke Aa Jane Se</h3>
                    <p>Hindi romantic drama television series starring Karan Jotwani and Suhasi Dhami in the 
                        lead. It is a love story between a 42-year-old middle class</p>
                                    <a href="#" class="btn btn-default btnD">Watch</a> 
                                </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/ek-deewana-tha.jpg" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Ek Deewana Tha</h3>
                    <p>Ek Deewana Tha is a 2012 Indian Hindi romantic drama film, written and directed by 
                        Gautham Menon, featuring Prateik Babbar and Amy Jackson</p>
                    <a href="#" class="btn btn-default btnD">Watch</a> 
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                    <div class="imgbox">
                    <img src="../../assets/hindi/jodha-akbar.jpg" class="image" routerLink="/image">
                </div>
                <div class="content">
                    <h3>Jodha-Akbar</h3>
                    <p>Jodha-Akbar is an epic drama about a sixteenth-century political marriage of convenience
                         between a Mughal Emperor Akbar and a Rajput princess Jodha Bai.</p>
                                <a href="#" class="btn btn-default btnD">Watch</a> 
                            </div>
                    </div> 
                </div>
        </div> 
    </div> 
</div>
<!-- endcard -->
<br><br>
