.main{
    background-color: black;
}
.btn-group i{
    color:rgb(20, 19, 19);
}
nav {
    position: fixed;
    z-index: -1;
}
li.menu-item {
    margin:0 0 10px 0;
    transform: translate(15px,-5px);
    position: absolute;
    padding-right: 15px;
    font-family: 'Merriweather', serif;
 }
 .nav-item{
    padding-right: 50px;
 }
 .navbar-brand{
     padding-right: 20px;
 }
 .form-inline{
     padding-left:200px; 
     padding-right: 20px;

 }
 .form-inline i {
     color:white;
 }
 a.navbar-brand{
    font-family: 'Merriweather', serif;
     font-size: 2em;
 }
 h4{
     font-family: 'Merriweather', serif;
     color: white;
     font-size: 22px;
     margin-left: 30px;
     margin-top: 20px;
 }
.container{
    padding-top: 90px;
    top: 8px;
  }
  .image {
    display: block;
    width: 165px;
    height: 180px;
    border-radius: 14px;
    margin-left: 12px;
    margin-top: 30px;
  }
  .container-fluid{
    margin-top: -10px;
  }
  .box{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #000;
    box-shadow: 0 5px 15px rgba(0,0,0,.5); 
    transition: .5s;
  }
  .box .imgbox{
    position: relative;
  }
  .box .imgbox img{
    transition: .5s;
  }
  .box:hover .imgbox img{
    opacity: .5;
    /* transform: translateY(-40px); */
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  .box .content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-top: 20px;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;
  }
  .box:hover .content{
    opacity: 1;
  }
  .box .content h3{
    font-size: 14px;
    color: white;
    font-weight: 700; 
  }
  .box .content p{
    font-size: 10px;
    color: white;
    font-weight: 400; 
  }
  .box .content btnD{
    border: none;
    background: #fe1b70;
    color: white;
    font-size: 13px;
    font-weight: 700;
    transition: .5s;
  }
  .box .content .btnD:hover{
    color: white;
  }