.main {
    background-color: black;
    font-family: 'Merriweather', serif;
}

app-footer {
    margin-top: 400px;
    /* position: relative; */
    width: 100%;
    /* height: auto; */
    /* overflow: hidden; */
}