<div class="main">
    <!--documentry cards-->
    <div class="container">
        <h4>Science-Fiction Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci1.webp" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>Superstructures</h3>
                            <p>From the world's biggest plane to the tallest building, witness the extraordinary
                                 feats of engineeri ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci2.webp" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>Air Crash Investigation</h3>
                            <p>Revealing the dark truth that aviation safety improves one crash at a time, this 
                                show investigates ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci3.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Apollo: Back To The Moon</h3>
                            <p>On the eve of Apollo mission's 50th anniversary, this special feature recounts the
                                 heroic adventure  ...</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci4.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Incredible Machines</h3>
                            <p>This six-part series reveals the remarkable engineering principles that turned some 
                                of the machines  ...</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci5.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Space Shuttle</h3>
                            <p>From the Space Shuttle's groundbreaking maiden space flight at the start 80's 
                                through the heart-brea ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci6.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Supercar Megabuild</h3>
                            <p>Putting a fresh spin on your typical car transformation TV show, Supercar Megabuild
                                 will embark on a ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci7.webp" class="image"routerLink="/movie" >
                        </div>
                        <div class="content">
                            <h3>Seconds From Disaster</h3>
                            <p>While a storm can captivate you with its beauty, up close, it's power can destroy
                                 everything in its  ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci8.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Ultimate Animals</h3>
                            <p>The show breaks down the peculiar habits of the animals using expert interviews and 
                                state of the art ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci9.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Crowd Control</h3>
                            <p>A series of fun experiments reveal how easy it is to manipulate a crowd of thousands
                                 and solve some  ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci10.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Breakthrough</h3>
                            <p>Aiming to both inspire and entertain the viewers, this show delves into the social,
                                 ethical and econ ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci11.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Year Million</h3>
                            <p>Exploring life in the future, where artificial intelligence is everywhere and 
                                advances in medicine w ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci12.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Africa's Deadliest</h3>
                            <p>In the battlegrounds of Botswana, it takes power and ingenuity to survive. Africa's 
                                Deadliest explor ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci13.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>A Year In Space</h3>
                            <p>The film tells the story of what it takes to spend a year in space and have led NASA
                                 to understand w ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/science/sci14.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Extreme Flight: The Indian Air Force</h3>
                            <p>The film explores the unique operations conducted by the Indian Air Force in the 
                                Himalayas, an extre ...</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    <!-- endcard -->
<br><br>
</div>