<!-- mainimage -->
<div class="form-group row">
    <div class="col-sm-12">
        <div class="form-group row">
            <div class="col-sm-5">
                <div class="card new">
                    <br><br><br><br><br>
                    <h1>Welcome to Manoranjan</h1>
                    <h4>Join premium to watch latest content exclusively on Manoranjan.</h4>
                    <br><br><br>
                    <a href="#" class="first" routerLink="/linknorm">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <b> Watch Free</b>
                    </a>
                    <br><br>
                    <a href="#" class="second" routerLink="/login">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <b> Join Premium</b>
                    </a>
                    <br>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="card new">
                    <img class="card-img-top" src="../../assets/poster.jpg" alt="Card image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end mainimage -->