/* mainimage */
div{
    margin-top:20px;
    text-align: center;
    color: black;
    border:0;
    font-family: 'Merriweather', serif;
    /* background-color: rgb(82, 245, 223); */
    width:100%;
}
button{
  width: 50%; 
  align-self: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 14px;
  height: 65px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  /* background: rgb(154, 160, 214); */
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 3em;
    color: white;
}
h5{
    font-family: 'Merriweather', serif;
    color:white;
}
.card-img-top{
    height: 600px;
    border:0;
}
.new{
    background: black;
}
