<!-- mainimage -->
<div class="form-group row">
        <div class="col-sm-12">
            <div class="form-group row">
            <div class="col-sm-5">
                <div class="card new">
                        <br><br><br><br><br>
                        <h1><b>Welcome to Manoranjan</b></h1>
                        <h5>Join premium to watch latest content exclusively on Manoranjan.</h5>
                        <br><br><br>
                        <button type="button" class="btn-info" routerLink="/navnorm"><b>Watch Free</b></button>
                        <br><br>
                        <button type="button" class="btn-info" routerLink="/login"><b>Join Premium</b></button>
                        <br>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="card new">
                        <img class="card-img-top" src="../assets/grid2.png" alt="Card image">
                </div>
            </div>
            </div>
        </div>
</div>
<!-- end mainimage -->


