<!--navbar section-->
<app-nav-norm></app-nav-norm>
<!--end of nevbar section-->
<div class=about>
<h2>Feedback</h2>
<br>
<p>We would be glad to receive feedback from you on your experience of using hotstar.com. We welcome your suggestions on how we can improve it in the future.</p>
<br>
<p>Please feel free to write to us at hello@hotstar.com for any feedback or queries. In case you are a subscribed user please do mention your e-mail and mobile number. It will help us reach out to you quickly.</p>
</div>
<app-footer></app-footer>


