<div class="main">
<!--navbar section-->
<app-nav-norm></app-nav-norm>
  <!--end of nevbar section-->
  <!--documentry cards-->
  <div class="container">
    <h4>Comedy Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <img src="../../assets/j1.jpg" class="image" routerLink="/movie">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/ddlj.jpg" class="image" routerLink="/movie">
                    <div class="overlay">new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/luka-chupi.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div> 
                <div class="col-sm-2">
                    <img src="../../assets/mohabbatein.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div> 
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/prdp.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/dangal.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/h1.jpeg" class="image"routerLink="/movie" >
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/m2.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/lucifer.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/majnu.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/maharshi.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/a2.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/g2.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/m9.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/chennai-express.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/a1.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/a4.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/a5.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/adheera.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/hddcs.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/kalank.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/kahani.jpeg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/m5.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/m3.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
        </div> 
    </div> 
  </div>
  <!-- endcard -->
  <br><br>
  <app-footer></app-footer>
</div>