<div class="main">
  <!--documentry cards-->
  <!-- <div class="container">
    <h4>Comedy Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy.jpg" class="image" routerLink="/movie">
                </div>
                <div class="content">
                    <h3>Dolly ki doli</h3>
                    <p>The movie centres around a young woman, Dolly (Sonam Kapoor), who is a young con artist. ...</p>
                </div> 
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy.webp" class="image" routerLink="/movie">
                </div>
                <div class="content">
                    <h3>Total Dhamal</h3>
                    <p>Total Dhamal is a 2019 Indian Hindi-language adventure-action comedy film directed and
                         co-produced by Indra Kumar. </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy1.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Guest iin London</h3>
                    <p>Guest iin London is an Indian Hindi comedy film, written and directed 
                        by Ashwni Dhir.</p>
                    </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy1.webp" class="image">
                </div>
                <div class="content">
                    <h3>Badhaai Ho</h3>
                    <p>Badhaai Ho is a 2018 Bollywood coming-of-the-age comedy-drama, helmed by Amit Ravindernath
                         Sharma. </p>
                    </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy2.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Yaariyan</h3>
                    <p>Yaariyan is a 2014 Indian Hindi-language coming-of-age romance
                         film directed by Divya Khosla Kumar...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy2.webp" class="image">
                </div>
                <div class="content">
                    <h3>Maragatha Naanayam</h3>
                    <p>Maragatha Naanayam is an upcoming Tamil Fantasy Adventure Comedy film Written & Directed
                         by ARK Saravan, ..</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy3.jpg" class="image"routerLink="/movie" >
                </div>
                <div class="content">
                    <h3>De Dana Dan</h3>
                    <p>De Dana Dan is a 2009 Indian Hindi comedy film directed by
                         Priyadarshan.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy3.webp" class="image">
                </div>
                <div class="content">
                    <h3>Phillauri</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy4.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Judwaa 2</h3>
                    <p>Judwaa 2 is a 2017 Indian Hindi-language action-comedy film directed by David Dhawan.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy4.webp" class="image">
                </div>
                <div class="content">
                    <h3>Jolly LLB</h3>
                    <p>Jolly LLB is a 2013 Indian Hindi-language black comedy film, written and directed by
                         Subhash Kapoor.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy5.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Golmaal 3</h3>
                    <p> Golmaal 3 (Hotchpotch 3) is a 2010 Indian Hindi comedy film directed by Rohit Shetty</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy5.webp" class="image">
                </div>
                <div class="content">
                    <h3>Phillauri</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy6.webp" class="image">
                </div>
                <div class="content">
                    <h3>Phillauri</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/comedy7.webp" class="image">
                </div>
                <div class="content">
                    <h3>Phillauri</h3>
                    <p>Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.</p>
                    </div>
                    </div>
                </div>
        </div> 
    </div> 
  </div> -->
  <!-- endcard -->
  <div class="container">
        <h4>Comedy Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let movie of movies1">
                    <div class="box">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" 
                            routerLink="/movie/{{movie.mediaTitle}}">
                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <br><br>
</div>