@media (min-width: 768px) {
    .container {
      max-width: 730px;
          }
  }
  .container{
   
   padding-top: 20px;
   margin-top: 130px;
        width: 30%;
      border: 1px solid black;
      box-shadow: inset -5px -5px -5px -5px #bbb;
      border-radius: 5px;
     background-image: element();
     overflow: hidden;
     }
 
.top-space{
  overflow: hidden;
  
}
  .container-narrow > hr {
    margin: 30px 0;
  }
 
 label {
    display: block;
}

