
<div class="main">
<!--documentry cards-->
<div class="container">
    <h4>Gujarathi Serials</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <img src="../../assets/gujrati/MV5BOTU4MDFmMTEtM2RkMy00NjBlLTljZDQtMzllODhkMzgyN2VmXkEyXkFqcGdeQXVyNjg0NDA1NDA@._V1_.jpg" class="image" routerLink="/image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
        </div> 
    </div> 
</div>
<!-- endcard -->
<br><br>
