
<div class="main">
<!--documentry cards-->
    <div class="container">
        <h4>Gujarathi Serials</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/gujrati/MV5BOTU4MDFmMTEtM2RkMy00NjBlLTljZDQtMzllODhkMzgyN2VmXkEyXkFqcGdeQXVyNjg0NDA1NDA@._V1_.jpg" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>Kumkum Na Pagla Padya</h3>
                            <p>Follow the life of Kumkum who faces social ostracism and is looked down upon by her
                                father.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> 
</div>
<!-- endcard -->
<br><br>
