
<!--documentry cards-->
<div class="container">
    <h4>Documentaries</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/d1.jpeg" class="image">
                        </div>
                        <div class="content">
                            <h3>Listen to Me Marlon</h3>
                            <p>Listen to Me Marlon is a British documentary directed by Stevan Riley about
                                 the movie star and iconic actor Marlon Brando.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d2.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>The Business of Recovery</h3>
                    <p>As drug and alcohol addictions skyrocket, The Business of Recovery examines the untold
                         billions that are being made off of families in crisis. </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d3.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Amazing Grace</h3>
                    <p>American singer-songwriter Aretha Franklin records her gospel album Amazing Grace live at
                         the New Temple Missionary Baptist Church...</p>
                    </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d4.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>City of Ghosts</h3>
                    <p>City of Ghosts is a 2017 Arabic-language American documentary film about the Syrian media
                         activist group...</p>
                    </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d5.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Surviving Skokie</h3>
                    <p>SURVIVING SKOKIE is an intensely personal documentary by former Skokie resident Eli Adler
                         about the provocative events of the 1970s,</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d6.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Inside Out</h3>
                    <p>Inside Out is a 2015 American 3D computer-animated comedy film produced by Pixar Animation
                         Studios and released by Walt Disney Pictures.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d7.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>When the Bough Breaks</h3>
                    <p>A married couple in their 40s, named John and Laura Taylor desperately want to have a baby,
                         but they are unable to have a lasting pregnancy.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d8.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Demons in Paradise</h3>
                    <p>Demons in Paradise is a 2017 trilingual Sri Lankan based documentary feature film written
                         by Isabelle Marina and directed by Jude Ratnam...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d9.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Oasis: Supersonic</h3>
                    <p>Oasis: Supersonic (Supersonic) è un docufilm del 2016 diretto da Mat ...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d10.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Path of Blood</h3>
                    <p>Path of Blood is a 2018 British documentary film directed by Jonathan Hacker and sourced
                         from several hundred hours of Al Qaeda footage..</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d11.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Five Came Back</h3>
                    <p>Five Came Back is an American documentary based on the 2014 book Five Came Back: A Story
                         of Hollywood</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d13.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>First Peoples</h3>
                    <p>First Peoples is a five-part PBS television documentary program about the first people on
                         the Earth. </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d14.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Nash</h3>
                    <p>Terre Nash (née Mary Teresa Nash) is a Canadian Oscar-winning film director. Her 1982 short
                         documentary If You Love This Planet </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d15.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Free Solo</h3>
                    <p>Alex Honnold attempts to become the first person to ever free solo climb El Capitan. ... 
                        A documentary about World War</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d16.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Taxi Sister</h3>
                    <p>Taxi also known as Taxi Tehran, is a 2015 Iranian docufiction starring and directed by
                         Jafar Panahi. </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d17.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>The Jinx</h3>
                    <p>The Jinx: The Life and Deaths of Robert Durst is a 2015 HBO documentary miniseries about
                         New York real estate heir Robert Durst, an accused murderer.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/d18.jpeg" class="image">
                </div>
                <div class="content">
                    <h3>Nature</h3>
                    <p>Nature is a wildlife television program produced by Thirteen/WNET New York. It has been ... </p>
                </div>
                </div>
                </div>
        </div>
         
    </div> 
</div>
<!-- endcard -->
<br><br>