<!--footer-->
<footer id="footer-main">
    <div class="container-fluid">
        <div class="row ">
                <div class="col-sm-1">
                </div>
            <div class="col-sm-1">
                <a class="first" routerLink="/about1">About Us</a>
            </div>
            <div class="col-sm-1">
                <a class="second" routerLink="/feedback" routerLinkActive="active">Feedback </a>
            </div>
            <div class="col-sm-1">
                <a class="third" routerLink="/faq" routerLinkActive="active">FAQ </a>
            </div>
            <div class="col-lg-8">
                <div class="connect">
                <ul class="list-unstyled">
                    <li class="right"><a href="#" >Connect Us On</a></li>
                    <li><i class="fa fa-facebook-square fa-2x"></i> 
                        <i class="fa fa-twitter-square fa-2x"></i>
                        <i class="fa fa-google-plus-square fa-2x"></i>
                        <i class="fa fa-comments fa-2x"></i>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--end footer-->  
