#footer-main {
    background: #343a40;
    color: white;
    font-size: 0.9rem;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

.container-fluid {
    padding-top: 10px;
}

i {
    padding: 15px;
}

a {
    color: white;
}

.list-unstyled i {
    padding-left: 20px;
}

.connect {
    padding-left: 690px;
}

.connect .right {
    padding-left: 75px;
}

.first {
    float: left;
}

.second {
    text-align: center;
}

.third {
    float: left;
}