<div class="main">
    <!--documentry cards-->
    <!-- <div class="container">
        <h4>Mythology Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth1.webp" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>Shree Gurudeva Dutta</h3>
                            <p>The manifestation of Brahma-Vishnu-Mahesh, he is the savior of Dharma, Bhoomi, and
                                 Bhakti. Witness t ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth2.webp" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>Janaki Ramudu</h3>
                            <p>Janaki Ramudu is the classic epic of Ramayana retold through the eyes of the 
                                righteous, beautiful an ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth3.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Kailasanathan</h3>
                            <p>In this mesmerising story of Lord Shiva and his avatars, witness the dynamic Shiva
                                 as a sansarik or  ...</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth4.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Swami Ayyappan</h3>
                            <p>Born with the powers of Shiva and Vishnu, here’s a beautiful re-telling of the 
                                tales of the divinity ...</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth5.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Om Namah Shivay</h3>
                            <p>In this mesmerizing story of Lord Shiva and his avatars, witness Shiva as a sansarik
                                 or a householde ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth15.jpg" class="image">
                        </div>
                        <div class="content">
                            <h3>My Friend Ganesha 3</h3>
                            <p>My Friend Ganesha 3 is an animated movie under the banner of BaBa Arts Limited 
                                production and which released on 26 March 2010.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth16.jpg" class="image"routerLink="/movie" >
                        </div>
                        <div class="content">
                            <h3>Bal Ganesha 2</h3>
                            <p>Bal Ganesha 2 is based on the numerous adventures of the elephant headed God, Lord
                                 Ganesh. Shot in 3D the movie is a visual treat for the entire family.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth6.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Abhayamangal</h3>
                            <p>Abhayamangal is a Bengali show aired on Star Jalsha. Abhayamangal or Chandimangal 
                                by Kabikankan Muku ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth10.jpeg" class="image">
                        </div>
                        <div class="content">
                            <h3>Mahima Kali Maa Ki</h3>
                            <p>Mahima Kali Maa Ki Full Movie | Hindi Dubbed Movies 2019 Full ... Lakshmi finds solace
                                 and ..</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth11.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Mahima Durga Kali Ki</h3>
                            <p>Mahima Durga Kali Ki Full Movie | Hindi Dubbed Movies 2019 Full ... Lakshmi finds
                                 solace and ..</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth7.webp" class="image">
                        </div>
                        <div class="content">
                            <h3>Jai Hanuman</h3>
                            <p>Jai Hanuman the 1st ever original film made on Lord Hanuman with real story & scene
                                 presented so well ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth8.jpg" class="image">
                        </div>
                        <div class="content">
                            <h3>Vithu Mauli</h3>
                            <p>A devotional story of Lord Vitthal and his devotee Pundalik, who is credited for
                                 bringing Maharashtr ...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth12.jpg" class="image">
                        </div>
                        <div class="content">
                            <h3>My Friend Ganesha</h3>
                            <p>My Friend Ganesha is an animated movie under the banner of BaBa Arts Limited 
                                    productio</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth13.jpg" class="image">
                        </div>
                        <div class="content">
                            <h3>Bal Ganesha</h3>
                            <p>Bal Ganesha is a telugu movie based on the numerous adventures of the elephant 
                                headed God, Lord Ganesh.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth14.jpg" class="image">
                        </div>
                        <div class="content">
                            <h3>Bal Ganesha</h3>
                            <p>Bal Ganesha is based on the numerous adventures of the elephant headed God, Lord
                                    Ganesh. Shot in 3D the movie is a visual treat for the entire family.</p>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/mythology/myth9.jpg" class="image">
                        </div>
                        <div class="content">
                            <h3>Shirdi Sai</h3>
                            <p>A film that tells the life story of the revered saint Shirdi Sai Baba. Shirdi Sai
                                 (Nagarjuna) appear ...</p>
                        </div>
                    </div>
                </div>             
            </div> 
        </div> 
    </div> -->
    <!-- endcard -->
    <div class="container">
            <h4>Mythology Movies</h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2" *ngFor="let movie of movies1">
                        <div class="box">
                            <div class="imgbox">
                                <img src="{{movie.mediaPosterUrl}}" class="image" 
                                routerLink="/movie/{{movie.mediaTitle}}">
                            </div>
                            <div class="content">
                                <h3>{{movie.mediaTitle}}</h3>
                                <p>{{movie.mediaSynopsis}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<br><br>
</div>