<div class="main">
    <!--documentry cards-->
    <div class="container">
      <h4>Biopic Movies</h4>
      <div class="container-fluid">
          <div class="row">
                  <div class="col-sm-2">
                      <img src="../../assets/action1.png" class="image" routerLink="/movie">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action2.png" class="image" routerLink="/movie">
                      <div class="overlay">new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action3.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div> 
                  <div class="col-sm-2">
                      <img src="../../assets/action4.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div> 
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action5.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action6.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action7.png" class="image"routerLink="/movie" >
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action8.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action9.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action10.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action11.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action12.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action13.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action14.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <img src="../../assets/action16.png" class="image">
                      <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                          Atul Kulkarni and Rituparna.
                      </div>
                  </div>
                 
          </div> 
      </div> 
    </div>
    <!-- endcard -->
    <br><br>
    </div>