<div class="main">
    <!--documentry cards-->
    <div class="container">
        <h4>Biopic Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let movie of movies1">
                    <div class="box">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" routerLink="/movie/{{movie.mediaTitle}}">
                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>