<div class="main">
<!--documentry cards-->
    <!-- <div class="container">
        <h4>Action Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action1.png" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>Raman Raghav 2.0</h3>
                            <p>Raman Raghav 2.0 is a 2016 Indian neo-noir psychological thriller film directed
                                 by Anurag Kashyap.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action2.png" class="image" routerLink="/movie">
                        </div>
                        <div class="content">
                            <h3>2.0</h3>
                            <p>2.0 is a 2018 Indian Tamil-language science fiction action film written and 
                                directed by S. Shankar. </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action3.png" class="image">
                        </div>
                        <div class="content">
                            <h3>Tiger Zinda Hai</h3>
                            <p>Tiger Zinda Hai is a 2017 Indian Hindi-language action thriller film directed by Ali
                                 Abbas Zafar and co-written by Neelesh Misra.</p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action4.png" class="image">
                        </div>
                        <div class="content">
                            <h3>Baaghi</h3>
                            <p>Baaghi (English: Rebel) is a 2016 Indian Hindi-language martial arts film directed
                                 by Sabbir Khan...</p>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/action7.png" class="image">
                    </div>
                    <div class="content">
                        <h3>Dhruva</h3>
                        <p>Dhruva is a 2016 Indian Telugu-language action thriller film directed by Surender Reddy
                             and produced by Allu Aravind</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/action8.png" class="image">
                    </div>
                    <div class="content">
                        <h3>Flash Point</h3>
                        <p>Flash Point is a 2007 Hong Kong action film directed by Wilson Yip, and produced by and
                             starring Donnie Yen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/action9.png" class="image"routerLink="/movie" >
                    </div>
                    <div class="content">
                        <h3>Hero</h3>
                        <p>Hero is a 2015 Indian romantic action film directed by Nikhil Advani and co-written by
                             Umesh Bist, a remake of Subhash Ghai's...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/action10.png" class="image">
                    </div>
                    <div class="content">
                        <h3>Tagaru</h3>
                        <p>Tagaru is a 2018 Indian Kannada-language action drama film directed by Duniya Soori and
                             produced by K. P. Srikanth.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/action11.png" class="image">
                    </div>
                    <div class="content">
                        <h3>Jaguar</h3>
                        <p>Jaguar is a 2016 Indian bilingual romantic action film produced by H. D. Kumaraswamy
                             under his banner Channambika</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action12.png" class="image">
                        </div>
                        <div class="content">
                            <h3>MCA- Middle Class Abbayi</h3>
                            <p>MCA is a 2017 Indian Telugu language action romantic comedy film written and
                                 directed by Venu Sri Ram.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action13.png" class="image">
                        </div>
                        <div class="content">
                            <h3>The Return of Abhimanyu</h3>
                            <p>Abhimanyu is a 2003 Indian Telugu film, directed by A. Mallikarjun and produced by
                                 Ashwini Dutt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action14.png" class="image">
                        </div>
                        <div class="content">
                            <h3>Total Dhamaal</h3>
                            <p>Total Dhamaal is a 2019 Indian Hindi-language adventure-action
                                 comedy film directed and co-produced by Indra Kumar.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action16.png" class="image">
                        </div>
                        <div class="content">
                            <h3>VIP-2</h3>
                            <p>Velaiilla Pattadhari 2 or VIP 2, is a Tamil film directed by Soundarya Rajnikanth.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action5.png" class="image">
                        </div>
                        <div class="content">
                            <h3>Lee</h3>
                            <p>Lee is a 2017 Indian Kannada-language action film written and directed by H. M. 
                                Srinandan. The film is produced by Sarathy Sathish...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                            <img src="../../assets/action6.png" class="image">
                        </div>
                        <div class="content">
                            <h3>Baaghi 2</h3>
                            <p>Baaghi 2 (Rebel 2) is a 2018 Indian Hindi-language action thriller film
                                 produced by Sajid Nadiadwala</p>
                        </div>
                    </div>
                </div>  
            </div> 
        </div> 
    </div> -->
<!-- endcard -->
    <div class="container">
        <h4>Action Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let movie of movies1">
                    <div class="box" *ngIf="movie.mediaType=='free'">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" 
                            routerLink="/movie/{{movie.mediaTitle}}">
                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                    <div class="box" *ngIf="movie.mediaType=='premium'">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" 
                                routerLink="/movie/{{movie.mediaTitle}}">
                                <img class="close" src="../../assets/premiumLogo.jpeg" />
                                <!-- <p class="close">M</p> -->

                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br><br>
</div>