<div class="main">

    <div class="container">
        <h4>Action Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let movie of movies1">
                    <div class="box" *ngIf="movie.mediaType=='free'">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" routerLink="/movie/{{movie.mediaTitle}}">
                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                    <div class="box" *ngIf="movie.mediaType=='premium'">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" routerLink="/movie/{{movie.mediaTitle}}">
                            <span class="close1 badge badge-danger">M</span>
                            <!-- <img class="close" src="../../assets/premiumLogo.jpeg" /> -->
                            <!-- <p class="close">M</p> -->

                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>