<div class="main">
    <!--documentry cards-->
    
    <div class="container">
        <h4>Uploaded videos</h4>
        <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-2">
                        <img src="../../assets/lukachupi.png" class="image" routerLink="/movie">
                        <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img src="../../assets/action7.png" class="image" routerLink="/movie">
                        <div class="overlay">new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                            Atul Kulkarni and Rituparna.
                        </div>
                    </div>
                
                  
            </div> 
            
        </div> 
       
    </div>
    <!-- endcard -->
    <br><br>
