<!--navbar section-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="position: fixed;z-index: 1;width: 100%">
    <a class="navbar-brand" href="#"><img src="'../../assets/logo.png" width="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movies</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" routerLink="/actionmovie">Action</a>
                    <a class="dropdown-item" href="#" routerLink="/horrormovie">Horror</a>
                    <a class="dropdown-item" href="#" routerLink="/romanticmovie">Romantic</a>
                    <a class="dropdown-item" href="#" routerLink="/thrillermovie">Kid</a>
                    <a class="dropdown-item" href="#" routerLink="/comedymovie">Comedy</a>
                    <a class="dropdown-item" href="#" routerLink="/mysterymovie">Mystery</a>
                    <a class="dropdown-item" href="#" routerLink="/mythologymovie">Mythology</a>
                    <a class="dropdown-item" href="#" routerLink="/biopicmovie">Biopic</a>
                    <a class="dropdown-item" href="#" routerLink="/sciencefictionmovie">Science Fiction</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          TV Shows</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" routerLink="/hindiserial">Hindi</a>
                    <a class="dropdown-item" href="#" routerLink="/englishserial">English</a>
                    <a class="dropdown-item" href="#" routerLink="/marathiserial">Marathi</a>
                    <a class="dropdown-item" href="#" routerLink="/tamilserial">Tamil</a>
                    <a class="dropdown-item" href="#" routerLink="/taluguserial">Telugu</a>
                    <a class="dropdown-item" href="#" routerLink="/gujarathiserial">Gujarathi</a>
                    <a class="dropdown-item" href="#" routerLink="/bengaliserial">Bengali</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/document">Documenteries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/web">Web Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/linkpri">Premium</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button type="button" class="btn btn-default"><i class="fa fa-search fa-2x"></i></button>
    </form>
</nav>
<!--end of nevbar section-->