<div class="main">
    <div class="container">
        <h4>Marathi Serials</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let serial of serials1">
                    <div class="box" *ngIf="serial.episodicType=='free'">
                        <div class="imgbox">
                            <img src="{{serial.episodicPosterUrl}}" class="image" (click)="sendDetails(serial)">
                        </div>
                        <div class="content">
                            <h3>{{serial.episodicTitle}}</h3>
                        </div>
                    </div>
                    <div class="box" *ngIf="serial.episodicType=='premium'">
                        <div class="imgbox">
                            <img src="{{serial.episodicPosterUrl}}" class="image"  (click)="sendDetails(serial)">
                            <span class="close1 badge badge-danger">M</span>
                            <!-- <img class="close" src="../../assets/premiumLogo.jpeg" /> -->
                            <!-- <p class="close">M</p> -->

                        </div>
                        <div class="content">
                            <h3>{{serial.episodicTitle}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>