<div class="main">
<!--documentry cards-->
<!-- <div class="container">
    <h4>Marathi Serials</h4>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/are-vedya-mna.jpg" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Arre Vedya Mana</h3>
                        <p>‘Arre Vedya Mana’, a romantic journey of two young lovers Madhuri and Swapnil.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/choti-malkin.jpg" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Choti Malkin</h3>
                        <p>She, a rich, educated girl. He, a poor, humble boy. Reva and Sridhar marry under unfavourable
                             consequences.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/jivlaga.jpg" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Jeevlaga</h3>
                        <p>Two couples, Kavya-Vishwas and Nikhil-Vidhi hit crossroads in their relationships when 
                            one of them decides to make a choice.</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/lalit205.jpg" class="image">
                    </div>
                    <div class="content">
                        <h3>Lalit 205</h3>
                        <p>In the era of disconnected nuclear families, this bunch will rekindle the nostalgia 
                            of being in a joint family.</p>
                    </div>
                </div> 
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/nakalt-sare-ghdale.jpg" class="image">
                    </div>
                    <div class="content">
                        <h3>Nakalat Saare Ghadle</h3>
                        <p>Neha and Pratap are brought together by destiny and their love for Pari, 
                            Pratap’s daughter from his ex-wife.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/nakushi.jpg" class="image">
                    </div>
                    <div class="content">
                        <h3>Nakushi</h3>
                        <p>Nakushi is a story of an ordinary girl with an unfortunate name, who is born and brought
                             up in a conservative family but is very positive and optimistic about life.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/phulpakharu.jpg" class="image"routerLink="/image" >
                    </div>
                    <div class="content">
                        <h3>Phulpakharu</h3>
                        <p>The story revolves around Vaidehi, daughter of industrialist Raosaheb.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box">
                    <div class="imgbox">
                        <img src="../../assets/marathi/satrh-de-tu-mla.jpg" class="image" routerLink="/image">
                    </div>
                    <div class="content">
                        <h3>Saath De Tu Mala</h3>
                        <p>Prajakta, an aspiring designer about to get married. To achieve her 
                            dreams, she must face the many challenges of balancing her career and home.</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>  -->
    <div class="container">
        <h4>Marathi Serials</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let serial of serials1">
                    <div class="box">
                        <div class="imgbox">
                            <img src="{{serial.episodicPosterUrl}}" class="image" routerLink="/image">
                        </div>
                        <div class="content">
                            <h3>{{serial.episodicTitle}}</h3>
                            <!-- <p>{{serial.episodicSynopsis}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- endcard -->
<br><br>
