
<div class="main">

  <!--documentry cards-->
  <div class="container">
    <h4>Romantic Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <img src="../../assets/romance1.webp" class="image" routerLink="/movie">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance.jpg" class="image" routerLink="/movie">
                    <div class="overlay">new movie Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance10.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div> 
                <div class="col-sm-2">
                    <img src="../../assets/romance11.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div> 
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance12.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance13.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance14.webp" class="image"routerLink="/movie" >
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance2.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance3.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance4.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance5.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance6.jpg" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance7.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance8.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="../../assets/romance9.webp" class="image">
                    <div class="overlay">Bumm Bumm Bole is a Hindi film, starring Darsheel Safary, Ziyah Vastani, 
                        Atul Kulkarni and Rituparna.
                    </div>
                </div>
        </div> 
    </div> 
  </div>
  <!-- endcard -->
  <br><br>