
<div class="main">

  <!--documentry cards-->
  <!-- <div class="container">
    <h4>Romantic Movies</h4>
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance1.webp" class="image" routerLink="/movie">
                </div>
                <div class="content">
                    <h3>Dumdaar Khiladi</h3>
                    <p>Dumdaar Khiladi (Hello Guru Prema Kosame) is a famous Telugu movie in Hindi dubbed directed
                         by Trinadha Rao Nakkina </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance.jpg" class="image" routerLink="/movie">
                </div>
                <div class="content">
                    <h3>Break Ke Baad</h3>
                    <p>Break Ke Baad ( transl. After the break) is a 2010 Indian romantic comedy
                         film directed by Danish Aslam </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance10.webp" class="image">
                </div>
                <div class="content">
                    <h3>Nāṉ uḷḷūr</h3>
                    <p>Nāṉ uḷḷūr is a 2017 Indian Tamil-language action comedy film directed by Trinadha Rao
                         Nakkina</p>
                    </div>
                    </div>
                </div> 
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance12.webp" class="image">
                </div>
                <div class="content">
                    <h3>Aisha</h3>
                    <p>Aisha movie is an adaption of the British novel, Emma by Jane Austen.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance13.webp" class="image">
                </div>
                <div class="content">
                    <h3>Fidaa</h3>
                    <p>Fidaa is a Telugu movie starring Varun Tej and Sai Pallavi in lead roles.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance2.webp" class="image">
                </div>
                <div class="content">
                    <h3>Hero</h3>
                    <p>Hero is a 2002 Chinese wuxia film directed by Zhang Yimou. Starring Jet Li as the nameless
                         protagonist.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance3.webp" class="image">
                </div>
                <div class="content">
                    <h3>2 States</h3>
                    <p>2 States is a 2014 Indian romantic comedy film co written and directed by Abhishek Varman
                         based on the 2009 novel 2 States...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance4.webp" class="image">
                </div>
                <div class="content">
                    <h3>Sanam Re</h3>
                    <p>Sanam Re is a 2016 Indian Hindi-language romantic drama film directed by Divya Khosla Kumar and
                         produced by Bhushan Kumar...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance5.webp" class="image">
                </div>
                <div class="content">
                    <h3>Tholi Prema</h3>
                    <p>Tholi Prema is a 2018 Indian Tamil language coming of age romantic
                         comedy film. It is directed by debutant Venky Atluri...</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance6.jpg" class="image">
                </div>
                <div class="content">
                    <h3>Prem Ratan Dhan Paayo</h3>
                    <p>Prem Ratan Dhan Paayo is a 2015 Indian Hindi-language romantic drama film written and 
                        directed by Sooraj Barjatya,</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance7.webp" class="image">
                </div>
                <div class="content">
                    <h3>Jaya Ganga</h3>
                    <p>Jaya Ganga is a feature film made by Paris-based Indian 
                        writer, filmmaker and screenplay writer Vijay Singh. </p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance8.webp" class="image">
                </div>
                <div class="content">
                    <h3>I, Me aur Main</h3>
                    <p>I, Me aur Main is a Bollywood romantic comedy film[2] directed by debut film director Kapil
                         Sharma.</p>
                    </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="box">
                        <div class="imgbox">
                    <img src="../../assets/romance9.webp" class="image">
                </div>
                <div class="content">
                    <h3>Phillauri</h3>
                    <p>Phillauri is a 2017 Indian Hindi fantasy comedy film directed by Anshai Lal and produced 
                        by Fox Star Studios with Anushka Sharma </p>
                    </div>
                    </div>
                </div>
        </div> 
    </div> 
  </div> -->
  <!-- endcard -->
  <div class="container">
        <h4>Romantic Movies</h4>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2" *ngFor="let movie of movies1">
                    <div class="box">
                        <div class="imgbox">
                            <img src="{{movie.mediaPosterUrl}}" class="image" 
                            routerLink="/movie/{{movie.mediaTitle}}">
                        </div>
                        <div class="content">
                            <h3>{{movie.mediaTitle}}</h3>
                            <p>{{movie.mediaSynopsis}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <br><br>