.col-lg-3 {
    color: white;
}

.col-md-3 {
    color: white;
}

.text-center {
    padding-top: 30px;
}

.container {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 30%;
}

h2 {
    color: #36e5ff;
    margin-left: 15%;
}

.btn-info {
    margin-right: 5%;
    margin-left: 27%;
}

personal-info {
    margin-top: 75px;
    position: relative;
    left: 0;
    bottom:0;
    top:0;
    right:0;
    overflow-x: hidden;
    overflow-y: hidden;
}
/* div{
    overflow-x:auto;
    overflow-y: hidden;
} */

.container {
    position: absolute;
    left: 0;
    bottom:0;
    top:0;
    right:0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    height: auto;
}
.footer{
    margin-top:650px;
}
.btn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14px;
    background: #36c5ff;
    color: white;
}
.col-md-8{
    align-items: center;
    
}
.form-group{
    align-items: center;
}